<div  id='shipment-address'
      class='three rounded-10 line_item_yellow'>
  <div class='panel'>
   <%= render :partial => '/shared/compact_address', :locals => {:shopping_address => @shipment.address} %>
   <%= link_to 'Change Address', edit_admin_fulfillment_shipment_address_path(@shipment, @shipment.address) %>
  </div>
</div>
<div class='eleven'>
  <div id='shipment_form_wrapper' class='six column'>
    <h2>Edit Shipment</h2>
    <%= form_for(@shipment, :url => admin_fulfillment_shipment_path(@shipment)) do |f| %>
      <%= render :partial => 'form', :locals => {:f => f } %>
    <% end %>
    <%= link_to 'Show', admin_fulfillment_shipment_path(@shipment) %> |
    <%= link_to 'Back', admin_fulfillment_shipments_path(:order_id => @shipment.order.number) %>
  </div>

  <div id='shipment_comment_form_wrapper' class='six column'>
    <h2>Notes</h2>
    <div id='order_comments'>
      <ul>
        <% @shipment.order.comments.each do |comment| %>
          <li> <%= comment.note %> </li><hr/>
        <% end %>
      </ul>
    </div>

    <%= form_for( @comment,

                  :url => admin_fulfillment_order_comments_path(@shipment.order),
                  :html => {'data-order_id' => @shipment.order.number}
                ) do |f| %>
      <%= render :partial => 'comments_form', :locals => {:f => f } %>
    <% end %>
  </div>
</div>

<% content_for :bottom do -%>
  <%= javascript_include_tag "fulfillment_shipment" %>
<% end %>
