<div class='row' style='text-align: left;'>
  <p id="notice"><%= notice %></p>

  <div class='four column'>
    <h3>Shipment details</h3>

    <ul  class='vertical-list width-list'>
      <li>
        <label class=''>Shipped at:</label>
        <span class=''><%=l @shipment.shipped_at, :format => :us_time if @shipment.shipped_at %></span>
      </li>
      <li style='clear:both;'>
        <label class=''>Tracking #:</label>
        <span class=''><%= @shipment.tracking %></span>
      </li>
      <li>
        <label class=''>Shipment #:</label>
        <span class=''><%= @shipment.number %></span>
      </li>
      <li>
        <label class=''>Status:</label>
        <span class=''><%= @shipment.state %></span>
      </li>
      <li></li>
    </ul>
  </div>

  <div class='five  column'>
    <h3>Order Items</h3>

    <ul  class='vertical-list width-list'>
      <% @shipment.order_items.each do |item| %>
        <li>
          <label >Product:</label>
          <span ><%= item.variant.product_name %></span>
        </li>
        <li>
          <label >SKU:</label>
          <span ><%= item.variant.sku %></span>
        </li>
        <li>
          <label >Price:</label>
          <span ><%= number_to_currency(item.price, :locale => :in) %></span>
        </li>
        <li>
          <label>Shipping Rate:</label>
          <span ><%= number_to_currency( item.shipping_rate.rate, :locale => :in ) %></span>
        </li>
        <li>
          <label >Shipping Method:</label>
          <span><%= item.shipping_rate.shipping_method.name  %></span>
        </li>
        <hr/>
      <% end %>
    </ul>
  </div>

  <div class='three column'>
    <h3>Order Details</h3>

    <ul  class='vertical-list width-list'>
        <li>
          <label >Order #:</label>
          <span><%= @shipment.order.number %></span>
        </li>
        <li>
          <label>Customer:</label>
          <span><%= @shipment.order.user.name %></span>
        </li>
        <li>
          <label style='width:200px;'>Shipping Address:</label>
          <div>
            <%= render :partial => '/shared/compact_address', :locals => {:shopping_address => @shipment.address} %>
          </div>
        </li>
        <hr/>
    </ul>
  </div>

  <%= link_to 'Edit', edit_admin_fulfillment_shipment_path(@shipment), :class => 'button small' %> |
  <%= link_to 'View Shipments for this Order', admin_fulfillment_shipments_path(:order_id => @shipment.order.number), :class => 'button small' %>
</div>
