<tr>
  <td>
    <%= link_to '<fa class="fa fa-close"></fa>'.html_safe, shopping_cart_item_path(item, :variant_id => item.variant_id),
                :method => :delete, :class => 'remove' %>
    <br>
    or
    <br>
    <%= link_to 'Save for Later',
                move_to_shopping_cart_item_path(item, :variant_id => item.variant_id,
                                                :item_type_id     => ItemType::SAVE_FOR_LATER_ID),
                :method           => 'put',
                :class            => 'aa-cart-title' %>
  </td>
  <td><%= image_tag item.variant.featured_image %></td>
  <td><%= link_to item.variant.product.name, product_path(item.variant.product), :class => 'aa-cart-title' %></td>
  <td><%= number_to_currency(item.price, :locale => :in) %></td>
  <td><% if item.size.present? %> <%= item.size %> <% else %> No size <% end %></td>
  <td><%= cart_items_form.number_field :quantity, :size=>"2", :class => 'aa-cart-quantity product-quantity', :min => '0', :max => '10' %></td>

  <td>Rs.<%= item.price * item.quantity %></td>
</tr>

<script>
    jQuery(document).ready(function(){
        $('.product-quantity').on('input', function() {
            var totalValue = (<%= item.price %>) * (parseFloat($(this).val()));
            $(this).closest('td').next().text('Rs.' + totalValue);
        });
    });

</script>