
<% @saved_cart_items.each_with_index do |item, i| %>
  <tr>
    <td width="20%" valign="top" align="right">
      <div class="tiny">
        <b name="s<%= i %>">Item added on <br/><%= item.created_at.strftime(I18n.translate('time.formats.long_date')) %></b>
      </div>

      <div id='add_<%= i %>_to_cart' class="small-gradientbuttons small-redtheme ready-to-add-to-cart">
        <ul>
          <li>
            <%= link_to 'Move to Cart',
                          move_to_shopping_cart_item_path(item, :variant_id => item.variant_id,
                                                          :item_type_id     => ItemType::SHOPPING_CART_ID),
                                                          :method           => 'put',
                                                          :class            => 'aa-cart-title' %>
          </li></br>
          <li>
            <%= link_to 'Delete', shopping_cart_item_path(item, :variant_id => item.variant_id),
                                :method => :delete, :class            => 'aa-cart-title' %>
          </li>
        </ul>
      </div>

    </td>
    <td valign="top" style="padding-right: 20px;">
      <div class="small">
        <b>
          <%= link_to item.variant.product_name, product_path(item.variant.product) %>
        </b>
        <%=  item.variant.brand_name.blank? ? '' : ['-', item.variant.brand_name].join(' ') %><br/>
        <%= item.variant.display_stock_status('', '') %>
        <br/>
      </div>
    </td>
    <td valign="top" class="small">
      <b class="price"><%= number_to_currency(item.price, :locale => :in) %></b><br/>
    </td>

  </tr>

  <tr>
    <td colspan="5">
      <hr color='#aac'/>
    </td>
  </tr>
<% end %>