
<% content_for :head do -%>
  <%#= stylesheet_link_tag 'shopping_cart_page.css' %>
<% end %>
<%= javascript_include_tag 'jquery.min' %>

<div id='cart-items-wrapper' class='items-wrapper nine coloumns last'>

  <% if  @cart_items.blank? && @saved_cart_items.empty? %>
      <h2 style='text-align:center;'> <%= I18n.t(:nothing_in_cart) %></h2>
  <% elsif  @cart_items.blank? %>
      <h2 style='text-align:center;'> <%= I18n.t(:only_items_saved_for_later) %></h2>
      <div class='panel graceful'> <h3 style='text-align:center;color:#333;'> <%= I18n.t(:add_items_saved_for_later) %> </h3> </div>
  <% end %>
<!-- Cart view section -->
<section id="cart-view">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="cart-view-area">
          <%= form_for session_cart, url: shopping_cart_item_path(session_cart), html: {class: 'custom'}, :as => :cart do |cart_form| %>
          <% unless @cart_items.blank? %>
          <div class="cart-view-table">

              <div class="table-responsive">
                <table class="table">
                  <thead>
                  <tr>
                    <th></th>
                    <th></th>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Size</th>
                    <th>Quantity</th>
                    <th>Total</th>
                  </tr>
                  </thead>
                  <tbody>
                  <%= cart_form.submit 'checkout', {:checkout => 1, :class => 'small aa-cart-view-btn button success'} %>

                  <% @cart_items.each_with_index do |item, i| %>

                      <%= cart_form.fields_for :shopping_cart_items, item do |cart_items_form| %>
                          <%= render :partial => 'cart_item', :locals => {:cart_items_form => cart_items_form, :item => item, :i => i }%>
                      <% end %>
                  <% end %>
                  <tr>
                    <%#= cart_form.submit 'update', :class => 'aa-cart-view-btn' %>
                    <!--<td colspan="6" class="aa-cart-view-bottom">-->
                      <!--<div class="aa-cart-coupon">-->
                        <!--<input class="aa-coupon-code" type="text" placeholder="Coupon">-->
                        <!--<input class="aa-cart-view-btn" type="submit" value="Apply Coupon">-->
                      <!--</div>-->
                      <!--<input class="aa-cart-view-btn" type="submit" value="Update Cart">-->
                    <!--</td>-->
                  </tr>
                  </tbody>
                </table>
              </div>



            <%= cart_form.submit 'Update Cart', {:checkout => 1, :class => 'aa-cart-view-btn '} %>
            <!-- Cart Total view -->
            <!--<div class="cart-view-total">-->
              <!--<h4>Cart Totals</h4>-->
              <!--<table class="aa-totals-table">-->
                <!--<tbody>-->
                <!--<tr>-->
                  <!--<th>Subtotal</th>-->
                  <!--<td>$450</td>-->
                <!--</tr>-->
                <!--<tr>-->
                  <!--<th>Total</th>-->
                  <!--<td>$450</td>-->
                <!--</tr>-->
                <!--</tbody>-->
              <!--</table><br>-->

            <!--</div>-->
          </div>
                  </br>
              <% end %>



          <% end %>
        </div>
      </div>
    </div>
    <% unless @saved_cart_items.empty? %>
        <div class="row">

          <div class="col-md-12">
            <div class="cart-view-area">

                      <div class="cart-view-table">

                        <div class="table-responsive">
                          <table class="table">
                            <thead>
                            <tr>
                              <th></th>
                              <th>Saved Item</th>
                              <th>Price</th>

                            </tr>
                            </thead>
                            <tbody>
                            <%= render :partial => '/shopping/cart_items/saved_items' unless @saved_cart_items.empty? %>
                            </tbody>
                          </table>
                        </div>
                      </div>
                      </br>

            </div>
          </div>




        </div>
    <% end %>
  </div>
</section>
</div>
<!-- / Cart view section -->



