
<div style='display:inline-block;' class=''>
  <ul class='vertical-list'>
    <li><label class=' '>State: </label>       <span class=''> <%= invoice.state %> </span></li>
    <li><label class=' '>Invoice #:</label>    <span class=''> <%=  invoice.number %> </span></li>
    <li><label class=' '>Charge Amount:</label><span class=''> <%= number_to_currency(invoice.amount, :locale => :in) %> </span></li>
  </ul>
</div>

<% if invoice.authorized? %>
  <a id='capture-invoice-button-<%= invoice.id %>' style='display:inline-block;' class='button success'>
    Collect
  </a>
  <!--
  <a id='capture-partial-invoice-button-<%= invoice.id %>' style='display:inline-block;' class='line_item_blue'>
    Collect Partial
  </a>
  -->
  <a id='cancel-invoice-button-<%= invoice.id %>' style='display:inline-block;' class='button alert'>
    CANCEL
  </a>
<% end %>
<% if invoice.paid? && @order && @order.shipments.count == 0 %>
  <%= link_to 'Create New Shipment', admin_fulfillment_shipments_path(order_number: @order.number), method: 'POST' %> for all items.
<% end %>
