<h3>New Purchase Order</h3>

<%= form_for @purchase_order, :url  => admin_inventory_purchase_orders_path do |form| %>
  <%= render :partial => '/admin/inventory/purchase_orders/form', :locals => {:form => form} %>
  <%= submit_tag "Create", :class  => "button" %>
<% end %>

<%= link_to 'Back', admin_inventory_purchase_orders_path %>

<% content_for :head do -%>
  <%= stylesheet_link_tag 'chosen.css' %>
<% end %>

<% content_for :below_body do -%>
  <%= javascript_include_tag 'chosen.jquery.min' %>
  <%= javascript_include_tag 'purchase_orders' %>
<% end %>