<h3>Product Overview</h3>

<div class="admin_inventory_overviews">
  <%= @products %>
  <% @products.each do |product| %>
    <table>
      <thead>
        <tr  class='odd'>
          <th colspan='3' class='column1_header' >
            <%= product.name %></th>
          <th>
          <%= link_to 'edit product', edit_admin_merchandise_product_path(product), :class => 'button small', :style => 'margin:0;' %>
          <%= link_to 'change inventory', admin_inventory_adjustment_path(product), :class => 'button small', :style => 'margin:0;' %>
          </th>
        </tr>
        <tr>
          <th>SKU</th><th>price</th><th>Qty</th><th>description</th>
        </tr>
      </thead>

      <tbody>
        <% product.variants.each do |variant|%>
          <tr class='<%= cycle("odd", "")%>'>
            <td><%= variant.sku %></td>
            <td><%= variant.price %></td>
            <td><%= variant.count_on_hand %></td>
            <td>
              <ul class='vertical-list'>
              <% variant.variant_properties.each do |vp| %>
                <li><label><%= vp.property_name %>:</label> <%= vp.description %> </li>
              <% end %>
              </ul>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>

<%= will_paginate @products %>
