<h3>Editing (<%= @tax_rate.state.abbreviation %>) Tax Rate</h3>

<%= form_for(@tax_rate, :url => admin_config_tax_rate_path(@tax_rate)) do |f| %>
  <%= render :partial =>  'form', :locals => {:f => f} %>
<% end %>

<%= link_to 'Show', admin_config_tax_rate_path(@tax_rate), :class => 'button' %>
<%= link_to 'Back', admin_config_tax_rates_path, :class => 'button' %>

<% content_for :bottom do -%>
  <%= javascript_include_tag "config_tax_rate" %>

  <script>
    Hadean.Utility.registerOnLoadHandler(Hadean.TaxRateForm.initialize());
  </script>
<% end %>
