<label> Name:</label><%= shopping_address.name %><br/>
<label>Address:</label> <% shopping_address.address_lines_array.each do |line| %>
    <%= line %><br/>
<% end %>
<label>Zip Code:</label> <%= shopping_address.city_state_zip %><br/>
