<%
   main_menu_footer = {
           "Home" => root_url,
           "About Us" => about_path

   }
%>
<!-- footer -->
<footer id="aa-footer">
  <!-- footer bottom -->
  <div class="aa-footer-top">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-footer-top-area">
            <div class="row">
              <div class="col-md-3 col-sm-6">
                <div class="aa-footer-widget">
                  <h3>Main Menu</h3>
                  <ul class="aa-footer-nav">
                    <% main_menu_footer.each_pair do |tab_name, tab_path| %>
                        <li><%= link_to_unless_current tab_name, tab_path %></li>
                    <% end %>
                  </ul>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="aa-footer-widget">
                  <div class="aa-footer-widget">
                    <h3>Our Policies</h3>
                    <ul class="aa-footer-nav">
                      <li><a href="/shipping_policy">Shipping Policy</a></li>
                      <li><a href="/privacy_policy">Privacy Policy</a></li>
                      <li><a href="/terms_conditions">Terms and Conditions</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="aa-footer-widget">
                  <div class="aa-footer-widget">
                    <h3>Useful Links</h3>
                    <ul class="aa-footer-nav">
                      <li><a href="/products">All Products</a></li>
                      <li><a href="/myaccount/overview">My Account</a></li>
                      <!--<li><a href="#">Advanced Search</a></li>-->
                      <!--<li><a href="#">Suppliers</a></li>-->
                      <!--<li><a href="#">FAQ</a></li>-->
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="aa-footer-widget">
                  <div class="aa-footer-widget">
                    <h3>Contact Us</h3>
                    <address>
                      <p> R-43, East Vinod Nagar, </p>
                      <p>New Delhi 110091</p>
                      <p><span class="fa fa-phone"></span>9650909806</p>
                      <p><span class="fa fa-envelope"></span>help.shop4young@gmail.com</p>
                    </address>
                    <div class="aa-footer-social">
                      <a href="https://www.facebook.com/Shop4young-140428993029887"><span class="fa fa-facebook"></span></a>
                      <a href="https://twitter.com/shop4young"><span class="fa fa-twitter"></span></a>
                      <!--<a href="#"><span class="fa fa-google-plus"></span></a>-->
                      <a href="https://www.youtube.com/channel/UCGGM8RySiZn2i7m9NrggE0Q"><span class="fa fa-youtube"></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- footer-bottom -->
  <div class="aa-footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-footer-bottom-area">
            <!--<p>Designing Partner <a href="http://www.markups.io/">MarkUps.io</a></p>-->
            <p>Designing Partner <a>MarkUps.io</a></p>
            <div class="aa-footer-payment">
              <span class="fa fa-cc-mastercard"></span>
              <span class="fa fa-cc-visa"></span>
              <span class="fa fa-paypal"></span>
              <span class="fa fa-cc-discover"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>