<style>
    .noBorder {
        border-right: none !important;
    }

</style>
<script>
    $(function () {

        jQuery(".aa-cartbox").hover(function(){
                    jQuery(this).find(".aa-cartbox-summary").fadeIn(500);
                }
                ,function(){
                    jQuery(this).find(".aa-cartbox-summary").fadeOut(500);
                }
        );
    });
</script>
<!-- SCROLL TOP BUTTON -->
<a class="scrollToTop" href="#"><i class="fa fa-chevron-up"></i></a>
<!-- END SCROLL TOP BUTTON -->
<header id="aa-header">
  <!-- start header top  -->
  <div class="aa-header-top" style="background-color: #fff;">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-header-top-area">
            <!-- start header top left -->
            <div class="aa-header-top-left">
              <!-- start language -->
              <!--<div class="aa-language">-->
                <!--<div class="dropdown">-->
                  <!--<a class="btn dropdown-toggle" href="#" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">-->
                    <!--<img src="/assets/flag/english.jpg" alt="english flag">ENGLISH-->
                    <!--<span class="caret"></span>-->
                  <!--</a>-->
                  <!--<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">-->
                    <!--<li><a href="#"><img src="/assets/flag/french.jpg" alt="">FRENCH</a></li>-->
                    <!--<li><a href="#"><img src="/assets/flag/english.jpg" alt="">ENGLISH</a></li>-->
                  <!--</ul>-->
                <!--</div>-->
              <!--</div>-->
              <!-- / language -->

              <!-- start currency -->
              <div class="aa-currency">
                <div class="dropdown">
                  <a class="btn dropdown-toggle" href="#" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <i class="fa fa-inr"></i>Rupees
                    <span class="caret"></span>
                  </a>
                  <!--<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">-->
                    <!--<li><a href="#"><i class="fa fa-euro"></i>EURO</a></li>-->
                    <!--<li><a href="#"><i class="fa fa-jpy"></i>YEN</a></li>-->
                  <!--</ul>-->
                </div>
              </div>
              <!-- / currency -->
              <!-- start cellphone -->
              <div class="cellphone hidden-xs">
                <p><span class="fa fa-phone"></span>9650909806</p>
              </div>
              <!-- / cellphone -->
            </div>
            <!-- / header top left -->
            <div class="aa-header-top-right">
              <ul class="aa-head-top-nav-right">
                <li><%= link_to myaccount_overview_path do %>
                      My Account
                  <% end %></li>
                     <li> <%= link_to 'About Us', about_path, :class=> 'noBorder' %> </li>


                <li class="hidden-xs"><%= link_to 'All Products', products_path, :class => 'active' %></li>
                <li class="hidden-xs"><%= link_to "Checkout", checkout_shopping_order_url('checkout') %></li>

                <% unless current_user %>
                    <li><%= link_to 'Login',  login_path %>
                      <!--<a href="" data-toggle="modal" data-target="#login-modal">Login</a>-->
                    </li>
                <% else %>
                    <li><div class="dropdown">
                      <a class="btn dropdown-toggle" href="#" type="button" id="dropdownMenuLogin" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        User
                        <span class="caret"></span>
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLogin">
                        <% if current_user.admin? %>
                            <li><%= link_to 'Admin', admin_users_path, :class=> 'noBorder' %></li></br>
                        <% end %>
                        <li>
                          <%= link_to myaccount_overview_path do %>
                              <label>Account</label>
                          <% end %>
                        </li></br>
                        <li><%= link_to raw('Orders &rarr;' ), myaccount_orders_path, :class=> 'noBorder' %></li></br>
                        <li><%= link_to 'Addresses', myaccount_addresses_path, :class=> 'noBorder' %></li></br>
                        <li><%= link_to 'Credit Cards', myaccount_credit_cards_path, :class=> 'noBorder' %></li></br>
                        <li><%= link_to 'Credits', myaccount_store_credit_path, :class=> 'noBorder' %></li></br>

                        <li><%= link_to 'Log Out', logout_path, method: :delete, :class=> 'noBorder' %></li></br>
                      </ul>
                    </div>
                    </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- / header top  -->

  <!-- start header bottom  -->
  <div class="aa-header-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-header-bottom-area">
            <!-- logo  -->
            <!--<span class="fa fa-shopping-cart">-->
            <a href="/"><%= image_tag("logo_final.png", :style => 'width:18%; float: left;') %></a>
            <!--<a href="/"><img src="assets/logo_final.png" style="width:18%; float: left;" alt="logo"></a>-->

            <!-- / logo  -->
            <!-- cart box -->
            <div class="aa-cartbox">
              <a class="aa-cart-link" href="#">
                <span class="fa fa-shopping-basket"></span>

                <span class="aa-cart-title">SHOPPING CART</span>
                <span class="aa-cart-notify"><%= session_cart.shopping_cart_items.size %></span>
              </a>
              <div class="aa-cartbox-summary">
                <ul>
                  <% if session_cart.shopping_cart_items.size > 0 %>
                      <li>
                        <%= link_to(shopping_cart_items_path, :id => 'cart_items_buttons') do %>
                            <strong> Items </strong>
                        <% end %>
                      </li>
                      <% session_cart.shopping_cart_items.each do |item| %>
                          <li>
                            <%= link_to(shopping_cart_items_path, :id => 'cart_items_buttons') do %>
                                <%= item.name %>
                            <% end %>

                            <a class="aa-cartbox-img" href="#"><%= image_tag item.variant.featured_image %></a>
                            <div class="aa-cartbox-info">
                              <h4><a href="#">Product Name</a></h4>
                              <p><%= item.quantity %> x <%= item.price %></p>
                            </div>
                            <!--<a class="aa-remove-product" href="#"><span class="fa fa-times"></span></a>-->
                          </li>
                          <li>
                      <span class="aa-cartbox-total-title">
                        Total
                      </span>
                      <span class="aa-cartbox-total-price">
                        <%= item.price %>
                      </span>
                          </li>
                      <% end %>
                  <% else %>
                      <li>
                        <%= link_to( 'Your cart is Empty!', shopping_cart_items_path) %>
                      </li>
                  <% end %>
                </ul>
                <% if session_cart.shopping_cart_items.size > 0 %>
                    <%= link_to "Checkout", checkout_shopping_order_url('checkout'), :class=>"aa-cartbox-checkout aa-primary-btn" %>
                <% end %>
              </div>
            </div>
            <!-- / cart box -->
            <!-- search box -->
            <div class="aa-search-box">
              <%= form_tag products_path, :method => 'get' do %>
                <input type="text" name="search_query" id="" placeholder="Search here ex. 'tshirt' ">
                <button type="submit" style="height: 40px;"><span class="fa fa-search"></span></button>
             <% end %>
            </div>
            <!-- / search box -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- / header bottom  -->
</header>