<%#
loop_footer_tabs = {
  'Terms & Conditions'  => terms_path,
  'About'               => about_path#,
  #'Customer Service'    => faq_customer_service_path
}
%>

<!--<div id="footer_wrapper" class='row'>-->
  <!--<div  class='nine large-9 columns'>-->
    <!--<ul id='main-footer-tabs' class='inline-list'>-->
      <!--<%# loop_footer_tabs.each_pair do |tab_name, tab_path| %>-->
        <!--<li> <%#= link_to_unless_current tab_name, tab_path %> </li>-->
      <!--<%# end %>-->
    <!--</ul>-->
  <!--</div>-->
<!--</div>-->
