<section id="aa-slider">
  <div class="aa-slider-area">
    <div id="sequence" class="seq">
      <div class="seq-screen">
        <ul class="seq-canvas">
          <!-- single slide item -->
          <li>
            <div class="seq-model">
              <%= image_tag("slider/mentshirt.jpg") %>
              <img data-seq src="assets/slider/mentshirt.jpg" alt="Men slide img" />
            </div>
            <div class="seq-title">
              <span data-seq>Save Up to 75% Off</span>
              <h2 data-seq>Tee Collection</h2>
              <a data-seq href="/products" class="aa-shop-now-btn aa-secondary-btn">SHOP NOW</a>
            </div>
          </li>
          <!-- single slide item -->
          <li>
            <div class="seq-model">
              <%= image_tag("slider/womentshirt.jpg") %>
              <img data-seq src="assets/slider/womentshirt.jpg" alt="Wristwatch slide img" />
            </div>
            <div class="seq-title">
              <span data-seq>Save Up to 40% Off</span>
              <h2 data-seq>Women's Collections</h2>
              <a data-seq href="/products" class="aa-shop-now-btn aa-secondary-btn">SHOP NOW</a>
            </div>
          </li>
          <!-- single slide item -->
          <li>
            <div class="seq-model">
              <%= image_tag("slider/printedguitar.jpg") %>
              <img data-seq src="assets/slider/printedguitar.jpg" alt="Women Jeans slide img" />
            </div>
            <div class="seq-title">
              <span data-seq>Save Up to 75% Off</span>
              <h2 data-seq>Guitars Collection</h2>
              <a data-seq href="/products" class="aa-shop-now-btn aa-secondary-btn">SHOP NOW</a>
            </div>
          </li>
          <!-- single slide item -->
          <li>
            <div class="seq-model">
              <%= image_tag("slider/gid2.jpg") %>
              <img data-seq src="assets/slider/gid2.jpg" alt="Shoes slide img" />
            </div>
            <div class="seq-title">
              <span data-seq>Save Up to 75% Off</span>
              <h2 data-seq>Glow In The Dark</h2>
              <a data-seq href="/products" class="aa-shop-now-btn aa-secondary-btn">SHOP NOW</a>
            </div>
          </li>
          <!-- single slide item -->
          <li>
            <div class="seq-model">
              <%= image_tag("slider/printedmugs.jpg") %>
              <img data-seq src="assets/slider/printedmugs.jpg" alt="Male Female slide img" />
            </div>
            <div class="seq-title">
              <span data-seq>Save Up to 50% Off</span>
              <h2 data-seq>Best Collection</h2>
              <a data-seq href="/products" class="aa-shop-now-btn aa-secondary-btn">SHOP NOW</a>
            </div>
          </li>
        </ul>
      </div>
      <!-- slider navigation btn -->
      <fieldset class="seq-nav" aria-controls="sequence" aria-label="Slider buttons">
        <a type="button" class="seq-prev" aria-label="Previous"><span class="fa fa-angle-left"></span></a>
        <a type="button" class="seq-next" aria-label="Next"><span class="fa fa-angle-right"></span></a>
      </fieldset>
    </div>
  </div>
</section>
<!--slider end-->