<div class='three large-3 columns'>
    <% if content_for? :account_title %>
      <h3><%= yield :account_title %></h3>
    <% else %>
      <h3>Your Account</h3>
    <% end %>

  <!--<div id='myaccount-header-menu'>-->
    <!--<ul  class=" side-nav">-->
      <!--<li <%#= selected_myaccount_tab('address') ? 'class=active' : '' %>>-->
        <%#= link_to 'Addresses', myaccount_addresses_path() %><!--</li>
      <!--<li <%#= selected_myaccount_tab('credit_cards') ? 'class=active' : '' %>>-->
        <%#= link_to 'Credit Cards', myaccount_credit_cards_path() %><!--</li>-->
      <!--<li <%#= selected_myaccount_tab('orders') ? 'class=active' : '' %>>-->
        <!--<%#= link_to 'Orders', myaccount_orders_path() %>-->
      <!--</li>-->
      <!--<li <%#= selected_myaccount_tab('profile') ? 'class=active' : '' %>>-->
        <!--<%#= link_to 'Profile', myaccount_overview_path() %>-->
      <!--</li>-->
      <!--<li <%#= selected_myaccount_tab('referrals') ? 'class=active' : '' %>>-->
        <!--<%#= link_to 'Referrals', myaccount_referrals_path() %>-->
      <!--</li>-->


    <!--</ul>-->
  <!--</div>-->
</div>
