<%#= javascript_include_tag 'jquery.simpleLens.js' %>
<%#= javascript_include_tag 'jquery.simpleGallery.js' %>
<%#= javascript_include_tag 'custom.js' %>
<%#= javascript_include_tag 'product_page.js' %>
<%#= javascript_include_tag 'cart' %>

<script>
  $(function() {

      jQuery('#demo-1 .simpleLens-thumbnails-container img').simpleGallery({
          loading_image: '<%= image_tag("loading.gif")%>'
      });

      jQuery('#demo-1 .simpleLens-big-image').simpleLens({
          loading_image: '<%= image_tag("loading.gif")%>'
      });

      $('#variant_size').on('change', function() {
          $('#cart_item_variant_id').val($(this).find('option:selected').attr('id'));
          $('#variant_price').text($(this).find('option:selected').attr('rel'));
           // or $(this).val()
      });
  });
</script>
<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div class="row">
          <!-- Modal view slider -->
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="aa-product-view-slider">
              <div class="simpleLens-gallery-container" id="demo-1">
                <div class="simpleLens-container">
                  <div class="simpleLens-big-image-container">
                    <a class="simpleLens-lens-image"
                       data-lens-image="<%= image_path(@product.featured_image(:large)) %>">
                      <%= image_tag(@product.featured_image(:large), :class =>'simpleLens-big-image') %>
                    </a>
                  </div>
                </div>
                <div class="simpleLens-thumbnails-container">
                  <% @product.images.each do |image|%>
                    <a href="#" class="simpleLens-thumbnail-wrapper"
                      data-lens-image="<%= image.photo.url(:large) %>"
                      data-big-image="<%= image.photo.url(:large) %>">
                      <%= image_tag(image.photo.url(:small)) %>
                    </a>
                  <% end %>
                </div>

            </div>
          </div>
        </div>
    <!-- Modal view content -->
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="aa-product-view-content">
            <h3><%= @product.name %></h3>
              <div class="aa-price-block">
                <span class="aa-product-view-price" id="variant_price">
                  <% if @product.active_variants.count > 0 %>
                     <%= number_to_currency(@product.active_variants.first.price, :locale => :in) %>
                  <% end %>
                </span>
                <p class="aa-product-avilability">Avilability:
                  <span>
                    <% if @product.active_variants.empty? %>
                      Out Of Stock
                    <% else %>
                      In stock
                    <% end %>
                  </span>
              </p>
            </div>
            <p><%= raw @product.description %></p>
            <h4>Properties</h4>

            <%#= @product.active_variants[0].variant_properties[1].property.display_name == 'size' %>
            <div class="aa-prod-view-size">
              <% @product.active_variants[0].variant_properties.each_with_index do |variant, index| %>
                 <strong><%= variant.property.display_name  %> : </strong></br>
                  <% @product.active_variants.each_with_index do |variant2| %>
                      <%= variant2.variant_properties[index].description unless variant2.variant_properties[index].blank? %>&nbsp;
                      <% end %>
                  </br>
                  <%# variant.variant_properties.each do |property| %>
              <!--<a href="#"><%#= property.description %></a>-->
               <%# end %>
              <% end %>
            </div>
            <p class="aa-prod-category">
              Category: <a href="#"><%= @product.product_type.name %></a>
            </p>
            <hr>
            <%= form_for  @cart_item,
                          :url  => shopping_cart_items_path(@cart_item),
                          :html => { :id => 'new_cart_item', :class => 'custom' } do |f| %>
                <%= f.hidden_field :variant_id %>

                <div class="aa-prod-quantity">
                  <label>Select Quantity:</label>
                  <%= f.select :quantity, [1,2,3,4, 5, 6], { :include_blank => false }, :selected => 1 %>
                </div>
                <div class="aa-prod-quantity">
                <label>Select Size:</label>
                  <select name="cart_item[size]" id="variant_size">
                    <% @product.active_variants.each do |variant| %>
                    <option rel="<%= variant.price %>" id="<%= variant.id %>"><%= variant.size %></option>
                    <% end %>
                  </select>
                </div>
                <div class="aa-prod-view-bottom">
                  <% unless @product.active_variants.empty? %>
                      <%= button_tag  :id => 'submit_add_to_cart', :class => 'aa-add-to-cart-btn' do %>

                      <span class="fa fa-shopping-cart"></span>Add To Cart
                          <% end %>
                  <% end %>
                 <% end %>
            <%= link_to 'View Details', product_path(@product), :class => 'aa-add-to-cart-btn' %>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

