<!-- menu -->
<section id="menu">
  <div class="container">
    <div class="menu-area">
      <!-- Navbar -->
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse">
          <!-- Left nav -->
          <ul class="nav navbar-nav">
            <li><%= link_to 'Home', root_path %></li>

            <% ProductType.all.each_with_index do |product, i| %>
                <% second_level = [] %>
                  <% if product.active? %>
                  <% if product.parent_id.blank? %>
                        <% second_level = ProductType.where(parent_id: product.id) %>
                      <li><a><%= product.name.capitalize %>
                            <span class="caret"></span>
                            </a>


                  <% end %>
                    <% unless second_level.blank? %>
                    <ul class="dropdown-menu">
                     <% second_level.each do |second_cat| %>
                    <li> <%= link_to second_cat.name, products_path(:product_type_id => second_cat), :target => '_blank'  %> </li>
                     <% end %>
                    </ul>
                    <% end %>
                    </li>
                <% end %>
            <% end %>


            <!--<li><a href="#">Women's Tee<span class="caret"></span></a>-->
              <!--<ul class="dropdown-menu">-->
                <!--<li><a href="#">Kurta & Kurti</a></li>-->
                <!--<li><a href="#">Trousers</a></li>-->
                <!--<li><a href="#">Casual</a></li>-->
                <!--<li><a href="#">Sports</a></li>-->
                <!--<li><a href="#">Formal</a></li>-->
                <!--<li><a href="#">Sarees</a></li>-->
                <!--<li><a href="#">Shoes</a></li>-->
                <!--<li><a href="#">And more.. <span class="caret"></span></a>-->
                  <!--<ul class="dropdown-menu">-->
                    <!--<li><a href="#">Sleep Wear</a></li>-->
                    <!--<li><a href="#">Sandals</a></li>-->
                    <!--<li><a href="#">Loafers</a></li>-->
                    <!--<li><a href="#">And more.. <span class="caret"></span></a>-->
                      <!--<ul class="dropdown-menu">-->
                        <!--<li><a href="#">Rings</a></li>-->
                        <!--<li><a href="#">Earrings</a></li>-->
                        <!--<li><a href="#">Jewellery Sets</a></li>-->
                        <!--<li><a href="#">Lockets</a></li>-->
                        <!--<li class="disabled"><a class="disabled" href="#">Disabled item</a></li>-->
                        <!--<li><a href="#">Jeans</a></li>-->
                        <!--<li><a href="#">Polo T-Shirts</a></li>-->
                        <!--<li><a href="#">SKirts</a></li>-->
                        <!--<li><a href="#">Jackets</a></li>-->
                        <!--<li><a href="#">Tops</a></li>-->
                        <!--<li><a href="#">Make Up</a></li>-->
                        <!--<li><a href="#">Hair Care</a></li>-->
                        <!--<li><a href="#">Perfumes</a></li>-->
                        <!--<li><a href="#">Skin Care</a></li>-->
                        <!--<li><a href="#">Hand Bags</a></li>-->
                        <!--<li><a href="#">Single Bags</a></li>-->
                        <!--<li><a href="#">Travel Bags</a></li>-->
                        <!--<li><a href="#">Wallets & Belts</a></li>-->
                        <!--<li><a href="#">Sunglases</a></li>-->
                        <!--<li><a href="#">Nail</a></li>-->
                      <!--</ul>-->
                    <!--</li>-->
                  <!--</ul>-->
                <!--</li>-->
              <!--</ul>-->
            <!--</li>-->
            <!--<li><a href="#">Printed guitars <span class="caret"></span></a>-->
              <!--<ul class="dropdown-menu">-->
                <!--<li><a href="#">Casual</a></li>-->
                <!--<li><a href="#">Sports</a></li>-->
                <!--<li><a href="#">Formal</a></li>-->
                <!--<li><a href="#">Standard</a></li>-->
                <!--<li><a href="#">T-Shirts</a></li>-->
                <!--<li><a href="#">Shirts</a></li>-->
                <!--<li><a href="#">Jeans</a></li>-->
                <!--<li><a href="#">Trousers</a></li>-->
                <!--<li><a href="#">And more.. <span class="caret"></span></a>-->
                  <!--<ul class="dropdown-menu">-->
                    <!--<li><a href="#">Sleep Wear</a></li>-->
                    <!--<li><a href="#">Sandals</a></li>-->
                    <!--<li><a href="#">Loafers</a></li>-->
                  <!--</ul>-->
                <!--</li>-->
              <!--</ul>-->
            <!--</li>-->
            <!--<li><a href="#">Bags <span class="caret"></span></a>-->
              <!--<ul class="dropdown-menu">-->
                <!--<li><a href="#">Camera</a></li>-->
                <!--<li><a href="#">Mobile</a></li>-->
                <!--<li><a href="#">Tablet</a></li>-->
                <!--<li><a href="#">Laptop</a></li>-->
                <!--<li><a href="#">Accesories</a></li>-->
              <!--</ul>-->
            <!--</li>-->
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
</section>
<!-- / menu -->
<!--slider-->
