<%= render :partial => '/admin/merchandise/sub_header'%>
<script>
    $(function () {
        $('form a.add_child').click(function () {
            console.log('added-image');
            var assoc = $(this).attr('data-association');
            var content = $('#' + assoc + '_fields_template').html();
            var regexp = new RegExp('new_' + assoc, 'g');
            var new_id = new Date().getTime();

            $(this).parent().before(content.replace(regexp, new_id));
            return false;
        });

        $('form').on('click', 'a.remove_child', function () {
            var hidden_field = $(this).prev('input[type=hidden]')[0];
            if (hidden_field) {
                hidden_field.value = '1';
            }
            $(this).parents('.new_fields').remove();
            $(this).parents('.fields').hide();
            return false;
        });
    });

</script>
<h3>Add Product Images</h3>

<%= form_for @product, :url  => admin_merchandise_images_product_path(@product), :multipart => true do |form| %>
  <%= render :partial => '/admin/merchandise/images/products/form', :locals => {:form => form} %>
  <%= submit_tag "Create", :class  => "button" %>
<% end %>

<%= link_to 'View Images', admin_merchandise_images_product_path(@product), :class  => "button"%>
<%= link_to 'Product Details', admin_merchandise_product_path(@product), :class  => "button" %>