<% if @address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@address.errors.count, "error") %> prohibited this shipping address from being saved:</h2>
      <ul>
        <% @address.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<label for="">First Name<span>*</span></label>
<%= f.text_field :first_name %>

<label for="">Last Name<span>*</span></label>
<%= f.text_field :last_name %>

<label for="">Address 1<span>*</span></label>
<%= f.text_field :address1 %>

<label for="">Address 2<span>*</span></label>
<%= f.text_field :address2 %>

<label for="">City<span>*</span></label>
<%= f.text_field :city %>

<label for=""> States<span>*</span></label> <br/>
<% if Settings.require_state_in_address %>
   <%= f.select :state_id, @states, :include_blank => true %>
<% elsif countries.size == 1 %>
    <label for="">Country<span>*</span></label>

    <%= countries.first.name %>
    <%= f.hidden_field   :country_id %>
<% else %>
    <label for="">Country<span>*</span></label>
    <%= f.select :country_id, select_countries, :include_blank => true %>
<% end %>

<br/><label for="">Zip Code<span>*</span></label>
<%= f.text_field :zip_code %>

<label for="">Make this my default shipping address</label>
<%= f.check_box :default %>


<%= f.submit 'Submit', :class => "aa-browse-btn" %>
