<section id="aa-myaccount">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="aa-myaccount-area">
          <div class="row">
            <div class="col-md-6">
              <div class="aa-myaccount-login">
                <h4> Edit Address </h4>

                <%= form_for(@form_address, :url => myaccount_address_path(@form_address), html: {class: 'aa-login-form'}) do |f| %>
                    <%= render :partial => 'form', :locals => {:f => f} %>
                <% end %>
                <div class='columns'>
                  <%= link_to 'Back to Addresses', myaccount_addresses_path, :class => 'secondary small button  ' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

