<section id="aa-myaccount">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="aa-myaccount-area">
          <div class="row">
            <div class="col-md-6">
              <div class="aa-myaccount-login">
                <h4> Addresses </h4>
                <% if @addresses.empty? %>
                    <p>
                      <%= I18n.t(:no_addresses_saved) %>
                    </p>
                <% else %>
                    <ul>
                      <% for address in @addresses %>
                          <li><br/>
                            <%= render :partial => '/shared/compact_address', :locals => { :shopping_address => address } %>
                            <%= link_to "Edit", edit_myaccount_address_path(address) %> |
                            <%= link_to "Remove", myaccount_address_path(address), :confirm => 'Are you sure?', :method => :delete %>
                          </li>
                      <% end %>
                    </ul>
                <% end %>

                <p><%= link_to "New Address", new_myaccount_address_path, :class => 'aa-browse-btn' %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
