<section id="aa-myaccount">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="aa-myaccount-area">
          <div class="row">
            <div class="col-md-6">
              <div class="aa-myaccount-login">
                <h4> New Address </h4>

                <%= form_for(@address, :url => myaccount_addresses_path(@address),:html => {:class => 'aa-login-form'}) do |f| %>
                    <%= render :partial => 'form', :locals => {:f => f} %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class='columns'>
  <%= link_to 'Back to List', myaccount_addresses_path, :class => 'secondary small button  ' %>
</div>
</div>
