<%# content_for :head do -%>
  <%#= stylesheet_link_tag 'home_page.css' %>
<%# end %>

<script>
  $(function () {

  });
</script>



<!--<div id='left_side_panel' class='span-6 last'>-->
<!--&nbsp;-->
<!--</div>-->
<%= render :partial => '/shared/menu' %>

<!-- Start Promo section -->
<section id="aa-promo" style="background-color: #333;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="aa-promo-area">
          <div class="row">
            <!-- promo left -->
            <div class="col-md-5 no-padding">
              <div class="aa-promo-left">
                <div class="aa-promo-banner">
                  <%#= image_tag("promo/multitee.jpg") %>
                  <img src="assets/promo/multitee.jpg" alt="img">
                  <div class="aa-prom-content">
                    <span>75% Off</span>
                    <h4><a href="#">For Men</a></h4>
                  </div>
                </div>
              </div>
            </div>
            <!-- promo right -->
            <div class="col-md-7 no-padding">
              <div class="aa-promo-right">
                <div class="aa-single-promo-right">
                  <div class="aa-promo-banner">
                    <%#= image_tag("promo/mugprint.jpg") %>
                    <img src="assets/promo/mugprint.jpg" alt="img">
                    <div class="aa-prom-content">
                      <!--<span>Exclusive Item</span>-->
                      <h4><a href="#">Mugs</a></h4>
                    </div>
                  </div>
                </div>
                <div class="aa-single-promo-right">
                  <div class="aa-promo-banner">
                    <%#= image_tag("promo/gidspider.jpg") %>
                    <img src="assets/promo/gidspider.jpg" alt="img">
                    <div class="aa-prom-content">
                      <!--<span>New</span>-->
                      <h4><a href="#">Glow in the dark</a></h4>
                    </div>
                  </div>
                </div>
                <div class="aa-single-promo-right">
                  <div class="aa-promo-banner">
                    <%#= image_tag("promo/womentshirt2.jpg") %>
                    <img src="assets/promo/womentshirt2.jpg" alt="img">
                    <div class="aa-prom-content">
                      <span>New Arrivals</span>
                      <h4><a href="#">For Women</a></h4>
                    </div>
                  </div>
                </div>
                <div class="aa-single-promo-right">
                  <div class="aa-promo-banner">
                    <%#= image_tag("promo/lighter.jpg") %>
                    <img src="assets/promo/lighter.jpg" alt="img">
                    <div class="aa-prom-content">
                      <!--<span>25% Off</span>-->
                      <h4><a href="#">Much More</a></h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- / Promo section -->
<h2 class="text-center">Products</h2>
</br>
<!-- Products section -->
<section id="aa-product">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="aa-product-area">
            <div class="aa-product-inner">
              <!-- start prduct navigation -->
              <!--<ul class="nav nav-tabs aa-products-tab">-->
                <!--<li class="active"><a href="#men" data-toggle="tab">Men</a></li>-->
                <!--<li><a href="#women" data-toggle="tab">Women</a></li>-->
                <!--<li><a href="#sports" data-toggle="tab">Mugs</a></li>-->
                <!--<li><a href="#electronics" data-toggle="tab">Bags</a></li>-->
              <!--</ul>-->
              <!-- Tab panes -->
              <div class="tab-content">
                <!-- Start men product category -->
                <div class="tab-pane fade in active" id="men">
                  <ul class="aa-product-catg">
                   <% unless @featured_product.blank? %>
                    <% @featured_product.each do |product| %>

                    <!-- start single product item -->
                    <li>
                      <figure>
                        <a class="aa-product-img" href="#"><%= link_to image_tag(product.featured_image(:product)), product_path(product), title: product.name %></a>
                        <%= link_to '<span class="fa fa-shopping-cart"></span> View Details'.html_safe, product_path(product), :class => 'aa-add-card-btn' %>

                        <figcaption>
                          <h4 class="aa-product-title"><%= link_to product.name, product_path(product) %></h4>
                          <span class="aa-product-price"><%= number_to_currency(product.price_range.first, :locale => :in ) %>
                            <% if product.price_range? %>
                               to
                              <%= number_to_currency(product.price_range.last, :locale => :in) %>
                            <% end %></span>
                          <!--<span class="aa-product-price"><del>$65.50</del></span>-->
                        </figcaption>
                      </figure>
                      <div class="aa-product-hvr-content">
                        <!--<a href="#" data-toggle="tooltip" data-placement="top" title="Save for Later"><span class="fa fa-heart-o"></span></a>-->
                        <%#= link_to '<span class="fa fa-heart-o"></span>'.html_safe,
                                    move_to_shopping_cart_item_path(item, :variant_id => item.variant_id,
                                                                    :item_type_id     => ItemType::SAVE_FOR_LATER_ID),
                                    :method           => 'put',
                                    :class            => 'aa-cart-title' %>
                        <!--<a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>-->
                        <%= link_to '<span class="fa fa-search"></span> QUICK VIEW'.html_safe, product_path(product), data: { toggle: "modal", target: "#quick-view-modal", placement: "top", title: "Quick View", toggle2: "tooltip", remote: true } %>
                      </div>
                      <!-- product badge -->
                      <!--<span class="aa-badge aa-sale" href="#">SALE!</span>-->
                    </li>
                    <% end %>
                    <% end %>

                  </ul>
                  </div>
                <!-- / men product category -->
                <!-- start women product category -->
                <div class="tab-pane fade" id="women">
                  <ul class="aa-product-catg">
                    <!-- start single product item -->
                    <li>
                      <figure>
                        <a class="aa-product-img" href="#"><img src="img/women/girl-1.png" alt="polo shirt img"></a>
                        <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                        <figcaption>
                          <h4 class="aa-product-title"><a href="#">This is Title</a></h4>
                          <span class="aa-product-price">$45.50</span><span class="aa-product-price"><del>$65.50</del></span>
                        </figcaption>
                      </figure>
                      <div class="aa-product-hvr-content">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>
                        <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                      </div>
                      <!-- product badge -->
                      <span class="aa-badge aa-sale" href="#">SALE!</span>
                    </li>
                    <!-- start single product item -->

                  </ul>
                  <!--<a class="aa-browse-btn" href="#">Browse all Product <span class="fa fa-long-arrow-right"></span></a>-->
                </div>
                <!-- / women product category -->
                <!-- start sports product category -->
                <div class="tab-pane fade" id="sports">
                  <ul class="aa-product-catg">
                    <!-- start single product item -->
                    <li>
                      <figure>
                        <a class="aa-product-img" href="#"><img src="img/sports/sport-1.png" alt="polo shirt img"></a>
                        <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                        <figcaption>
                          <h4 class="aa-product-title"><a href="#">This is Title</a></h4>
                          <span class="aa-product-price">$45.50</span><span class="aa-product-price"><del>$65.50</del></span>
                        </figcaption>
                      </figure>
                      <div class="aa-product-hvr-content">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>
                        <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                      </div>
                      <!-- product badge -->
                      <span class="aa-badge aa-sale" href="#">SALE!</span>
                    </li>
                    <!-- start single product item -->

                  </ul>
                </div>
                <!-- / sports product category -->
                <!-- start electronic product category -->
                <div class="tab-pane fade" id="electronics">
                  <ul class="aa-product-catg">
                    <!-- start single product item -->
                    <li>
                      <figure>
                        <a class="aa-product-img" href="#"><img src="img/electronics/electronic-1.png" alt="polo shirt img"></a>
                        <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                        <figcaption>
                          <h4 class="aa-product-title"><a href="#">This is Title</a></h4>
                          <span class="aa-product-price">$45.50</span><span class="aa-product-price"><del>$65.50</del></span>
                        </figcaption>
                      </figure>
                      <div class="aa-product-hvr-content">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>
                        <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                      </div>
                      <!-- product badge -->
                      <span class="aa-badge aa-sale" href="#">SALE!</span>
                    </li>
                    <!-- start single product item -->

                  </ul>
                  <!--<a class="aa-browse-btn" href="#">Browse all Product <span class="fa fa-long-arrow-right"></span></a>-->
                </div>
                <!-- / electronic product category -->
              </div>

              <!-- quick view modal -->
              <div class="modal fade" id="quick-view-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

              </div><!-- / quick view modal -->
            </div>
          </div>
        </div>
        <div class="col-md-offset-5 col-sm-offset-4 col-xs-offset-3">
          <a class="aa-browse-btn center-align" href="/products">Browse all Product <span class="fa fa-long-arrow-right"></span></a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- / Products section -->