<section id="aa-myaccount">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="aa-myaccount-area">
          <div class="row">
            <div class="col-md-10">
              <div class="aa-myaccount-login">
                <h4>Shipping & Delivery Policy Page:  How do you ship products?</h4>
                <hr/>

                <p>We avail the services of the most reliable and leading logistic companies to ensure safe and timely delivery of your order(s). You can track your order status online post the order is shipped. We avail logistic services of Aramex, Fedex and Bluedart.
                How long does it take for an order to get delivered? </p>

                <p>In case of prepaid orders we strive to ship the products as soon as possible. We strive to deliver the product within 7 days of purchase. However, there might be circumstances beyond our control where this timeline cannot be maintained. In such cases, we ensure that the product reaches to you within 10-12 days of purchase.
                What if I have received the damaged parcel? </p>

                <p>If you receive a damaged parcel, please DO NOT accept it and inform us at <strong>customercare@punkindia.com </strong> or on <strong> 0120-3843078 </strong>. We make sure that all the parcels are perfectly boxed and wrapped with security tapes when they are dispatched from our order-processing unit. Shop4young will not be responsible for lost items if you accept a damaged parcel.
                Who will bear the courier charges in case of returns? </p>

                <p>The reverse shipment charges will be beared by the customer. </p>

                <p>Return, Refund and Cancellation Page: If you are not completely satisfied with your purchase from Shop4young, you can return the product to us. Returns are applicable only in the case when the size doesn’t fits in or we have by mistake deliver a wrong size.
                Please note that we only offer returns, <strong>NO REFUNDS </strong> in the form of cash will be issued by shop4young. Refunds, if any will be issued in the form of store credits only.
                To return an order, write to our customer care at <strong>help.shop4young@gmail.com </strong> or call us at 9650909806 </p>
               <p> The parcel should be in its original packaging and box as received along with all the trims & accessories (back support, clips, tags, laces, etc.) with the original invoice. Worn or damaged products will not be accepted. </p>
                <p>At the time of returning order, you can ship the products back to our warehouse. In this case, please pack the products carefully and put one copy of invoice inside the box along with the products. Make sure you write our complete warehouse address on the packet along with the phone number. </p>
                ADDRESS </br>
                SHOP4YOUNG, R-43, </br>
                EAST VINOD NAGAR, </br>
                New Delhi – 110091 </br>
                EMAIL: help.shop4young@gmail.com </br>
                CONTACT NUMBER: 9650909806 </br>
                <p>Be sure to retain one copy of our invoice and proof of dispatch (issued by your courier service provider).
                What is the exchange policy at Punk? </p>

               <p> We would love to exchange your product for a new colour and/or size.
                You can book an exchange order by calling our customer care number 0120-3843078 or by writing to us at customercare@punkindia.com. Please note that exchange requests will be subject to the availability of requested product and shipping charges will NOT be borne by us.
                How will I receive my refund? </p>

                <p>In case of order cancellation, the total order amount would be refunded only in the form of store credits. No cash payment/transfer will be issued by us in any case. </p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


