<section id="aa-myaccount">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="aa-myaccount-area">
          <div class="row">
            <div class="col-md-10">
              <div class="aa-myaccount-login">
                <h4> Privacy Policy: </h4>
                <hr/>
               <p>We value the trust you hold in <strong>SHOP4YOUNG </strong>. Please read the following privacy policy carefully. While using and/or accessing our website you acknowledge that you read, understand and agree to be bound to all the terms mentioned in this privacy policy and other pages of this website. </p>
                <p> <strong> NOTE: </strong> Our privacy policy is subject to change at any time without/with notice. The revised privacy policy is effective immediately when posted on the website. To make sure you are aware of any changes, please review this privacy policy periodically for your reference. </p>
                <li>COLLECTION OF PERSONALLY IDENTIFIABLE INFORMATION </li>
                We collect personally identifiable information Name, Email Address, Date of Birth and Phone Number from you when you set up or connect an account with Punk.
                We do use your contact information to send you promotional and/or timely based offers.
                <li>USE OF DEMOGRAPHIC AND PROFILE DATA </li>
                <p>We use personal information to provide the services you request. To the extent we use your personal </p>

                <p>information to market to you, we will provide you the ability to opt-out of such uses. Your information is also used to resolve disputes; troubleshoot problems; help promote a safe service; measure consumer interest in our products and services, inform you about online offers, products, services and updates; customize your experience; detect and protect us against error, fraud and other criminal activity; enforce our terms and conditions; and as otherwise described to you at the time of collection. </p>
               <p> In our efforts to continuously improve our product and service offerings, we collect and analyze demographic and profile data about our users’ activity on our website. We identify and use your IP address to help diagnose problems with our server, and to administer our website. Your IP address is also used to help identify you and to gather broad demographic information. </p>
               <li>COOKIES </li>
                <p> A “cookie” is a small piece of information stored by a Web server on a Web browser so it can be later read back from that browser. Cookies are useful for enabling the browser to remember information specific to a given user Shop4young places both permanent and temporary cookies in your computer’s hard drive. Punk cookies do not contain any of your personally identifiable information.</p>
               <p> Whether you want your web browser to accept cookies or not is up to you. If you haven’t changed your computer’s settings, most likely your browser already accepts cookies. If you choose to decline cookies, you may not be able to fully experience all features of the website. You can also delete your browser cookies or disable them entirely. But this may significantly impact your experience with our website and may make parts of our website non functional or inaccessible. We recommend that you leave them turned on. </p>
                <li>SHARING OF PERSONAL INFORMATION </li>
                <p>We may share personal information with other corporate entities and affiliates to
                help detect and prevent identity theft, fraud and other potentially illegal acts; correlate, related or multiple accounts to prevent abuse of our services; and/or to facilitate joint or co-branded services that you request where such services are provided by more than one corporate entity. Those entities and affiliates may not market to you as a result of such sharing unless you explicitly opt-in.
                We may disclose personal information, if required to do so by law or in the good faith belief that such disclosure is reasonably necessary to respond to subpoenas, court orders, or other legal process. We may disclose personal information to law enforcement offices, third party rights owners, or others in the good faith belief that such disclosure is reasonably necessary to: enforce our Terms and/or Privacy Policy; respond to claims that an advertisement, posting or other content violates the rights of a third party; or protect the rights, property or personal safety of our users or the general public.
                Shop4young will share some or all of your personal information with another business entity should we (or our assets) plan to merge with, or be acquired by that business entity. Should such a transaction occur, that other business entity (or the new combined entity) will be required to follow this privacy policy with respect to your personal information.</p>
                <li>SECURITY PRECAUTIONS </li>
                <p>Our site has stringent security measures in place to protect the loss, misuse and alteration of the information under our control.
                Whenever you change or access your account information, we offer the use of a secure server. Once your information is in our possession we adhere to strict security guidelines, protecting it against unauthorized access. </p>
               <li>	ADVERTISING </li>
                <p>We use third-party service providers to serve ads on our behalf across the Internet and sometimes on this site. They may collect anonymous information about your visits to our website, and your interaction with our products and services. They may also use information about your visits and other websites to target advertisements for goods and services. This anonymous information is collected through the use of a pixel tag, which is industry standard technology used by most major websites. No personally identifiable information is collected or used in this process. They do not know the name, phone number, email address or any personally identifying information about the user. </p>

                Terms & Condition Page:
                USE OF THE WEBSITE – By accessing the website, you warrant and represent to the website owner that you are legally entitled to do so and to make use of information made available via website.
                •	TRADEMARKS – The trademarks, names, logos and service marks (collectively “trademarks”) displayed on this website are registered and unregistered trademarks of the website owner. Nothing contained on this website should be construed as granting any license or right to use any trademark without the prior written permission of the website owner.
                •	EXTERNAL LINKS – External links may be provided for your convenience, but they are beyond the control of the website owner and no representation is made as to their content. Use or reliance on any external links and the content thereon provided is at your own risk.
                •	WARRANTIES – The website owner makes no warranties, representations, statements or guarantees whether express, implied in law or residual regarding the website.
                •	DISCLAIMER OF LIABILITY – We will not be responsible or liable for any special, incidental, indirect or consequential damages of any kind in connection with this agreement, even if Punk has been informed in advance. In particular, the website owner shall not be responsible for and disclaims all liability for any loss, liability, damage whether direct, indirect or consequential, personal injury or expense of any nature whatsoever which may be suffered by you as a result of or which may be attributable, directly or indirectly, to your access and use of the website.
                •	CONFLICT OF TERMS – If there is a conflict and/or contradiction between the provisions of these website terms and conditions and any other relevant terms and conditions, policies or notices, the other relevant terms and conditions, policies or notices which relate specifically to a particular section or module of the website shall prevail in respect of your use of the relevant section or module of the website.
                •	SEVERABILITY – Any provision of any relevant terms and conditions, policies and notices, which is or becomes unenforceable in any jurisdiction, whether due to being void, invalidity, illegality, unlawfulness or for any reason whatever, shall, in such jurisdiction only and only to the extent that it is so unenforceable, be treated as void and the remaining provisions of any relevant terms and conditions, policies and notices shall remain in full force and effect.
                •	APPLICABLE LAWS – This agreement shall be governed by and interpreted and construed in accordance with the laws of India. The place of jurisdiction shall be in New Delhi. The parties agree that the courts located in India shall have exclusive jurisdiction over all controversies arising under this agreement and agree that venue is proper in those courts.

                6.	Ecommerce Flow / Booking Flow:  Should have complete booking flow like add to cart and proceed to checkout.

                7.	Login and Register Tab: Customer Registration process and guidelines should be available.

                8.	Should not be on the Website:  There should not be any dead / non-functional links, Beta Version, Coming Soon Banner, and Password locked web page and Redirection to some other website and Test Language.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


