<section id="aa-myaccount">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="aa-myaccount-area">
          <div class="row">
            <div class="col-md-10">
              <div class="aa-myaccount-login">
                <h4> Terms and Conditions </h4>
                <hr/>
               <p> <strong> USE OF THE WEBSITE </strong> – By accessing the website, you warrant and represent to the website owner that you are legally entitled to do so and to make use of information made available via website. </p>
                <li> <strong>TRADEMARKS </strong> – The trademarks, names, logos and service marks (collectively “trademarks”) displayed on this website are registered and unregistered trademarks of the website owner. Nothing contained on this website should be construed as granting any license or right to use any trademark without the prior written permission of the website owner. </li>
                <li> <strong>EXTERNAL LINKS </strong> – External links may be provided for your convenience, but they are beyond the control of the website owner and no representation is made as to their content. Use or reliance on any external links and the content thereon provided is at your own risk. </li>
                <li> <strong>WARRANTIES </strong> – The website owner makes no warranties, representations, statements or guarantees whether express, implied in law or residual regarding the website.</li>
                <li> <strong>DISCLAIMER OF LIABILITY </strong> – We will not be responsible or liable for any special, incidental, indirect or consequential damages of any kind in connection with this agreement, even if Punk has been informed in advance. In particular, the website owner shall not be responsible for and disclaims all liability for any loss, liability, damage whether direct, indirect or consequential, personal injury or expense of any nature whatsoever which may be suffered by you as a result of or which may be attributable, directly or indirectly, to your access and use of the website.</li>
                <li> <strong>CONFLICT OF TERMS </strong> – If there is a conflict and/or contradiction between the provisions of these website terms and conditions and any other relevant terms and conditions, policies or notices, the other relevant terms and conditions, policies or notices which relate specifically to a particular section or module of the website shall prevail in respect of your use of the relevant section or module of the website. </li>
                <li> <strong>SEVERABILITY </strong> – Any provision of any relevant terms and conditions, policies and notices, which is or becomes unenforceable in any jurisdiction, whether due to being void, invalidity, illegality, unlawfulness or for any reason whatever, shall, in such jurisdiction only and only to the extent that it is so unenforceable, be treated as void and the remaining provisions of any relevant terms and conditions, policies and notices shall remain in full force and effect.</li>
                <li> <strong>APPLICABLE LAWS </strong> – This agreement shall be governed by and interpreted and construed in accordance with the laws of India. The place of jurisdiction shall be in New Delhi. The parties agree that the courts located in India shall have exclusive jurisdiction over all controversies arising under this agreement and agree that venue is proper in those courts.</li>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


