
<h3> Change <%= customer.name.possessive %> Store Credit </h3>

<ul>
  <li>
    <label>Current Amount:</label>
    <%= number_to_currency(customer.store_credit_amount, :locale => :in) %>
  </li>
</ul>

<%= form_for customer, :url => admin_user_datas_user_store_credits_path( customer ) do |f| %>
  <%=  render :partial => 'form', :locals => {:f => f} %>
  <div class="actions"><%= f.submit 'Update' , :class => 'button' %></div>
<% end %>

