// RoR eCommerce Admin Styles


//@import "site/panel";

div, .row {
  .top20 {margin-top: 20px;}
}


.flash_messages {
  margin-top: 20px;
}

.field_with_errors {
  input {
    border: 1px #C66 solid;
  }
}

.sidebar {
  margin-top: 20px;
  .button {
    margin-bottom: 20px;
  }
}
label {
  cursor: default;
}

table {
  width: 100%;
}


.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

#admin-product-names {
  label {
    font-weight: bold;
  }
}

.admin_main_content {
  label {
    font-weight: bold;
  }
}

.red-button {
  background: none repeat scroll 0 0 #CB2B16;
  border: 1px solid #8C1E12;
  &:hover {
    background: none repeat scroll 0 0 #A12214;
    border: 1px solid #8C1E12;
  }
}


body {
  text-align:left;
  ul, ol {
    list-style: none;
  }
}

// admin filters
body {
  .admin_filters {
    text-align:left;
    ul, ol {
      list-style: none;
      padding-left: 0.5em;
    }
    label {
      display:block;
    }
    .search_boxes input {
      width: 202px;
    }
  }
}
.auto_width {
  width: auto;
}

.date-select {
  select {
    width: auto;
  }
}
.admin_title_header {
  width: 100%;
  h3 {
    float: left;
  }
  .button {
    float: right;
    margin-top: 12px;
  }
  .button + .button {
    margin-right: 10px;
  }
}
.admin_title_header:before, .admin_title_header:after {
  content: "";
  display: table;
}

.admin_title_header:after {
  clear: both;
}

.admin_title_header {
  zoom: 1;
}

.admin-login {
  margin-top: 8px;
  margin-bottom: 8px;
}

ul {
  &.vertical-list {
    display: block;
    label {
      display: inline-block;
      width: 120px;
    }
    &.compact {
      label {
        width: 70px;
      }
    }
  }
  &#report-filters {
    li {
      margin-bottom: 10px;
    }
  }
}

.footer {
  width: 1000px;
  max-width: 100%;
  min-width: 767px;
  margin: 0 auto;
  border-top: 1px solid #DDD !important;
  padding: 20px;
  p {
    font-size: 12px;
    .left {
      text-align: left;
    }
    .right {
      text-align: right;
    }
  }
}


.help_header {
  height: 58px;
  .title {
    float: left;
  }
  .version {
    float: right;
    margin: 20px 0;
    span {
      font-size: 21px;
    }
    small {
      font-size: 14px;
    }
  }
}
