<% if @credit_card.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@credit_card.errors.count, "error") %> prohibited this credit_card from being saved:</h2>

    <ul>
    <% @credit_card.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
  Please implement me!<br/>
<label for="">Name<span>*</span></label>
    <%= f.text_field :name , :placeholder =>"Name" %>


<button type="submit" class="aa-browse-btn">Save</button></br>


