<section id="aa-myaccount">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="aa-myaccount-area">
          <div class="row">
            <div class="col-md-6">
              <div class="aa-myaccount-login">
                <h4> Credit Cards </h4>
                <% if @credit_cards.empty? %>
                    <p>
                      You do not have a Credit Card on File
                    </p>
                <% else %>
                    <table>
                      <tr>
                        <th>Name</th>
                      </tr>
                      <% for credit_card in @credit_cards %>
                          <tr>
                            <td><%= credit_card.name %></td>
                            <td><%= link_to "Show", myaccount_credit_card_path(credit_card) do %> <i class="fa fa-eye"></i><% end %></td>
                            <td><%= link_to "Edit", edit_myaccount_credit_card_path(credit_card) %></td>
                            <td><%= link_to "Remove", myaccount_credit_card_path(credit_card), :confirm => 'Are you sure?', :method => :delete %></td>
                          </tr>
                      <% end %>
                    </table>
                <% end %>
                <p><%= link_to "New Credit Card", new_myaccount_credit_card_path, :class => 'aa-browse-btn' %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>