<section id="aa-myaccount">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="aa-myaccount-area">
          <div class="row">
            <div class="col-md-6">
              <div class="aa-myaccount-login">
                <h4> New Credit Card </h4>


                <%= form_for(@credit_card, :url => myaccount_credit_cards_path(@credit_card),:class => 'aa-login-form') do |f| %>
                    <%= render :partial => 'form', :locals => {:f => f} %>
                <% end %>

                <%= link_to 'Back to List', myaccount_credit_cards_path, :class => 'aa-browse-btn' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
