

<tr class='seven large-7 clearfix <%= cycle("line_item_blue", "line_item_light_gray") -%>'>

  <td><a href="#"><%= image_tag(items.first.variant.product.featured_image(:mini)) %></a></td>
  <td><a class="aa-cart-title" href="#"><%= items.first.variant.product.name %></a></td>
  <td><%= items.size %></td>
  <td> <%= raw items.first.variant.display_property_details %></td>

</tr>


