<h2 class="text-center">Order Summary</h2>
<section id="checkout">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="checkout-area">
          <form action="">
            <div class="row">
              <div class="col-md-8">
                <div class="checkout-left">
                  <div class='panel'>
                    <h2>Shipping Address</h2>
                    <%= render :partial => '/shared/compact_address', :locals => {:shopping_address => @order.ship_address} %>
                    <%= link_to 'Change address', shopping_addresses_path, :class => 'aa-browse-btn' %>
                  </div>
                  <div class='panel'>
                      <h2>Billing Address</h2>
                      <%= render :partial => '/shared/compact_address', :locals => {:shopping_address => @order.bill_address} %>
                      <%= link_to 'Change address', shopping_billing_addresses_path, :class => 'aa-browse-btn' %>
                  </div>
                      <section id="cart-view">

                          <div class="row">
                            <div class="col-md-12">
                              <div class="cart-view-area">
                                <div class="cart-view-table">
                                  <form action="">
                                    <div class="table-responsive">
                                      <table class="table">
                                        <thead>
                                        <tr>

                                          <th></th>
                                          <th></th>
                                          <th>Product</th>
                                          <th>Quantity</th>
                                          <th>Properties</th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        <% i = 1 %>
                                        <% @order.order_items.group_by(&:variant_id).each do |variant_id, items| %>
                                            <div id='order-item-<%= i %>' class='panel'>

                                              <%= render :partial => 'order_item', :locals => {:items => items } %>
                                            </div>
                                            <% i += 1 %>
                                        <% end %>


                                       
                                        </tbody>
                                      </table>
                                    </div>
                                  </form>
                                  <!-- Cart Total view -->
                                </div>
                              </div>
                            </div>
                          </div>

                      </section>
                </div>
              </div>
              <div class="col-md-4">
                <div class="checkout-right">
                  <h4>Order Summary</h4>
                  <div class="aa-order-summary-area">

                    <table class="table table-responsive">
                      <thead>
                      <tr>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Price + Tax</th>
                      </tr>
                      </thead>
                      <tbody>
                      <% @order.order_items.each do |item| %>
                      <tr class='<%= cycle("odd", "")%> '>
                        <td><%= item.variant.product.name %></td><td><%= number_to_currency(item.price, :locale => :in) %></td><td><%= number_to_currency(item.total, :locale => :in) %></td>
                      </tr>
                      <% end %>
                      <tr class='odd'>
                        <td></td><td><strong>Sub-total:</strong></td><td><%= number_to_currency(@order.sub_total, :locale => :in) %></td>
                      </tr>
                      <tr>
                        <td></td><td><strong>Shipping Charges: </strong></td><td><%= number_to_currency(@order.shipping_charges, :locale => :in) %></td>
                      </tr>
                      <tr>
                        <% if @order.coupon_amount > 0.0 %>
                          <tr>
                            <td></td><td><strong>Coupon:</strong></td><td><%= number_to_currency(@order.coupon_amount, :locale => :in) %></td>
                          </tr>
                      <% end %>
                      <% if @order.deal_amount && @order.deal_amount > 0.0 %>
                          <tr>
                            <td></td><td><strong>Promotion:</strong></td><td><%= number_to_currency(@order.deal_amount, :locale => :in) %></td><td></td>
                          </tr>
                      <% end %>
                      <tr>
                        <td></td><td><strong>Tax:</strong></td><td><%= number_to_currency(@order.taxed_amount, :locale => :in) %></td>
                      </tr>
                      <% if @order.amount_to_credit && @order.amount_to_credit > 0.0 %>
                          <tr class='odd'>
                            <td></td>
                            <td>Credits:</td><td></td>
                            <td><%= number_to_currency(@order.amount_to_credit, :locale => :in) %></td>
                          </tr>
                      <% end %>

                      <tfoot>
                      <tr class='even'>
                        <td></td><td><strong>Total:</strong></td><td><em><%= number_to_currency(@order.credited_total, :locale => :in) %></em></td>
                      </tr>
                      </tfoot>
                    </table>
                  </div>
                  <h4>Payment</h4>

                  <div class="aa-payment-method">
                    <%= form_tag( shopping_order_path(@order),
                                  method: :put,
                                  html:  {class: 'custom'},
                                  id:    'purchase_order') do  %>
                        <div class='row'>
                          <div class="aa-checkout-single-bill">
                            <%= label_tag 'First Name' %>
                            <%= text_field_tag(:first_name, @credit_card.first_name, :class => 'form-control') %>
                          </div>

                          <div class="field six large-6 column">
                            <%= label_tag :last_name, 'Last Name' %>
                            <%= text_field_tag(:last_name, @credit_card.last_name, :class => 'form-control') %>
                          </div>
                        </div>
                        <div class='clear'></div>
                        <div class='row'>
                          <div class="field twelve large-8 column">
                            <%= label_tag 'Card Number'%>
                            <%= text_field_tag(:number, @credit_card.number , class: ' disableAutoComplete form-control', :autocomplete => "off") %>
                          </div>
                          <div class="field three large-3 column">
                            <%= label_tag :verification_value, 'CVV'%>
                            <%= text_field_tag(:verification_value, @credit_card.verification_value , class: 'disableAutoComplete form-control', :autocomplete => "off") %>
                          </div>
                        </div>
                        <div class='twelve large-12 clearfix custom'>
                          <div class='row'>

                            <div class="field column large-6">
                              <%= label_tag :type, 'Type'%>
                              <%= select_tag(:type,
                                             options_for_select(
                                                     ['visa', 'mastercard'],
                                                     selected: @credit_card.type
                                             ), :class => 'form-control') %>
                            </div><br>
                            <h4>Expiry </h4>
                            <div class="field column large-3">
                              <%= label_tag :month %>
                              <%= select_tag(:month,
                                             options_for_select(
                                                     ['01', '02',  '03', '04', '05', '06', '07', '08', '09', '10', '11', '12' ],
                                                     selected: @credit_card.month
                                             ), :class => 'form-control') %>
                            </div>

                            <div class="field column large-3">
                              <%= label_tag :year %>
                              <%= select_tag(:year,
                                             options_for_select(
                                                     (Time.zone.now.year..(Time.zone.now.year + 10)),
                                                     selected: @credit_card.year
                                             ), :class => 'form-control') %>
                            </div>
                          </div>
                        </div>
                        <br>


                        <%= submit_tag 'Complete Order', class: 'button success aa-browse-btn' %></br>
                    <!--<label for="cashdelivery"><input type="radio" id="cashdelivery" name="optionsRadios"> Cash on Delivery </label>-->
                    <!--<label for="paypal"><input type="radio" id="paypal" name="optionsRadios" checked> Via Paypal </label>-->

                    <img src="https://www.paypalobjects.com/webstatic/mktg/logo/AM_mc_vs_dc_ae.jpg" border="0" alt="PayPal Acceptance Mark">

                        <% end %>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>




