
<% content_for :head do -%>
  <%#= javascript_include_tag 'admin/merchandise_product' %>
<% end %>


<% content_for :below_body do -%>
  <script>
    //Hadean.AdminMerchandiseProductForm.initialize(<%= @variant.id %>);
  </script>
<% end %>

  <%= error_messages_for 'variant' %>

<fieldset id="admin-product-names" class='span-12'>
<div class='clear'></div>
  <div class='span-3'>
    <%= form.label :sku %>
  </div>
  <div class='span-6 last'>
    <%= form.text_field :sku %>
  </div>

<div class='clear'></div>
  <div class='span-3'>
    <%= form.label :price %>
  </div>
  <div class='span-6 last'>
    <%= form.text_field :price %>
  </div>
<div class='clear'></div>
  <div class='span-3'>
    <%= form.label :cost %>
  </div>
  <div class='span-6 last'>
    <%= form.text_field :cost %>
  </div>

  <div class='clear'></div>
  <div class='span-3'>
    <%= form.label :size %>
  </div>
  <div class='span-6 last'>
    <%= form.text_field :size %>
  </div>

<div class='clear'></div>
  <div class='span-3'>
    <%= form.label :master %>
  </div>
  <div class='span-6 last'>
    <%= form.check_box :master %>
  </div>

</fieldset>

<fieldset id="admin-product-properties" class='span-12'>
  <legend>Properties</legend>

  <div id="variant_properties" class='span-12 last'>
    <% @product.properties.each do |property| %>
      <div  id='variant_<%= property.id %>'
            class="variant_form left span-12 last">
        <%= form.fields_for :variant_properties,
                            property.variant_properties.find_or_initialize_by(variant_id: @variant.id) do |variant_property_form|%>
          <div class='span-4 left'>
            <%= property.display_name %>:
          </div>
          Primary?: <%= variant_property_form.check_box  :primary %> <br/>
          <%= variant_property_form.hidden_field  :property_id %>
          Description: <%= variant_property_form.text_field    :description %><br/>
        <% end %>
      </div>
    <% end %>
  </div>

</fieldset>
