<section id="aa-myaccount">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="aa-myaccount-area">
          <div class="row">
            <div class="col-md-6">
              <div class="aa-myaccount-login">
                <h4>Orders</h4>

                <% unless @orders.length > 0 %>
                    You currently do not have any orders.
                <% end %>

                <% @orders.each do |order| %>
                    <div class=''>
                      <ul>
                        <li><label>Number:</label>        <%= link_to order.number, myaccount_order_path(order) %></li>
                        <li><label>Amount:</label>        <%= number_to_currency( order.first_invoice_amount, :locale => :in ) %></li>
                        <li><label>Status:</label>        <%= order.status %></li>
                        <li><label>Completed at:</label>  <%= order.display_completed_at %></li>
                      </ul>
                    </div>
                    <hr/>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>