<h3> <%= session_admin_order.user ? session_admin_order.user.name : 'No User' %> </h3>
  <table>
    <thead>
      <tr class='odd'>
        <th class='column1_header'>
          Item
        </th><th>Price:</th><th>Qty</th><th>Price + Tax</th>
      </tr>
    </thead>
    <% session_admin_order.order_items.each do |item| %>
      <tr class='<%= cycle("odd", "")%> '>
        <td><%= item.variant.product_name %></td>
        <td><%= item.price %></td>
        <td><%#= item %></td>
        <td><%= item.total %></td>
      </tr>
    <% end %>
    <tr class='odd top_border'>
      <td></td>
      <td>Sub-total:</td>
      <td></td>
      <td><%= sub_total = session_admin_order.sub_total %></td>
    </tr>
    <tr>
      <td></td>
      <% if session_admin_order.order_items.size > 0 %>
          <td><%= link_to 'Shipping Charges:', admin_shopping_checkout_shipping_methods_path %></td>
          <td></td>
          <td>
            <%= session_admin_order.display_shipping_charges %>
          </td>
      <% else %>
          <td>Shipping Charges:</td>
          <td></td>
          <td> N/A </td>
      <% end %>
    </tr>
    <% if session_admin_order.coupon_amount > 0.0 %>
      <tr>
        <td></td>
        <td>Coupon:</td><td></td>
        <td><%= number_to_currency(session_admin_order.coupon_amount, :locale => :in) %></td>
      </tr>
    <% end %>
    <% if session_admin_order.deal_amount && session_admin_order.deal_amount > 0.0 %>
      <tr>
        <td></td>
        <td>Promotion:</td><td></td>
        <td><%= number_to_currency(session_admin_order.deal_amount, :locale => :in) %></td>
      </tr>
    <% end %>
    <tr class='odd'>
      <td></td>
      <td>Tax:</td><td></td>
      <td>
        <% if session_admin_order.ready_to_checkout? %>
          <%= number_to_currency(session_admin_order.taxed_amount, :locale => :in) %>
        <% end %>
      </td>
    </tr>
    <% if session_admin_order.ready_to_checkout? && session_admin_order.amount_to_credit && session_admin_order.amount_to_credit > 0.0 %>
      <tr class='odd'>
        <td></td>
        <td>Credits:</td><td></td>
        <td><%= number_to_currency(session_admin_order.amount_to_credit, :locale => :in) %></td>
      </tr>
    <% end %>
    <tfoot>
      <tr class='even'>
        <td></td><td>Total:</td><td></td>
        <td><em>
          <% if session_admin_order.ready_to_checkout? %>
            <%= number_to_currency(session_admin_order.credited_total, :locale => :in) %>
          <% end %>
        </em></td>
      </tr>
    </tfoot>
  </table>
