<h2 class="text-center">Pick a Shipping Method</h2>
<div class="container">
<div class='clearfix'>
  <%= form_tag(shopping_shipping_method_path(session_order.id), html: {class: 'custom'}, method: :put) do -%>
    <% @order_items.group_by(&:shipping_category_id).each do |shipping_category_id, items| %>
      <!--<div class='column float-left ten large-10 line_items_blue last'>-->
          <%# items.each do |item| %>
            <!--<div class='nine large-9 clearfix panel'>-->
                <!--<div class='six large-6 columns'>-->
                  <%#= image_tag(item.variant.product.featured_image(:mini)) %>
                  <!--<%#= item.variant.product.name %> Quantity: <%#= item.quantity %>-->
                <!--</div>-->
                <!--<div class='five large-5 columns last' style='text-align:left;'>-->
                  <%#= raw item.variant.display_property_details %>
                <!--</div>-->
            <!--</div>-->
          <%# end %>
          <ul class='ten large-10 side-nav'>
            <% items.first.shipping_rate_options(session_order.sub_total).each do |rate| %>
            <li><%= radio_button_tag "shipping_category[#{shipping_category_id}]", rate.id %> <%= rate.name_rate_min %></li></br>
          <% end %>
          </ul>
      </div>
    <% end %>
      </br>
    <div class='ten large-10 clearfix offset-by-two'>
      <%= submit_tag 'continue', :class => 'aa-cart-view-btn' %>
    </div>

  <% end %>

</div>