//@import "compass/css3";
//@import "compass/utilities";

@font-face {
  font-family: "Economica";
  src: font_url("/assets/Economica-Regular-OTF.otf") format('opentype');
}

@font-face {
  font-family: "SketchetikLight";
  src: font_url("/assets/SketchetikLight.ttf") format('opentype');
}

@font-face {
  font-family: "MyriadPro";
  src: font_url("/assets/myriad-web-pro.ttf") format('opentype'), font_url("myriadpro-regular.otf") format('opentype');
}

@mixin rounded($radius: 4px) {
  @include border-radius($radius);
}

@mixin gradient($start_color: #E6E6E6, $end_color: #FFFFFF) {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, $start_color), color-stop(1.0, $end_color));
  background-image: -webkit-linear-gradient(center top, $start_color 0%, $end_color 100%);
  background: -moz-linear-gradient(center top, $start_color 0%, $end_color 100%) repeat-x scroll center top $end_color;
  background-image: -o-linear-gradient(top, $start_color 0%, $end_color 100%);
  background-image: -ms-linear-gradient(top, $start_color 0%,$end_color 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E6E6E6', endColorstr='#FFFFFF',GradientType=0 );
  background-image: linear-gradient(bottom, $start_color 0%,$end_color 100%);
}
