<% if @products.empty? %>
    <div id='no-variant-available' class=' four large-4 last'>
      Sorry this product is not currently available.
    </div>
<% else %>
  <!-- start single product item -->
  <% @products.each_with_index do |product, i| %>
      <li id='interesting_product_<%= i %>'>
        <figure>
          <a class="aa-product-img" href="#">
            <%= image_tag(product.featured_image(:product)) %>
          </a>
          <%#= form_for  @cart_item, :url  => shopping_cart_items_path(@cart_item) do |f| %>
          <%#= f.hidden_field :variant_id %>
          <%#= button_tag  :class => "aa-add-card-btn" do %>
          <!--<span class="fa fa-shopping-cart"></span> Add To Cart-->
          <%# end %>
          <%# end %>
          <figcaption>
            <h4 class="aa-product-title"><%= link_to product.name, product_path(product) %></h4>
                          <span class="aa-product-price"><%= number_to_currency(product.price_range.first, :locale => :in ) %>
                            <% if product.price_range? %>
                               to
                                <%= number_to_currency(product.price_range.last, :locale => :in) %>
                            <% end %></span>
            <!--<span class="aa-product-price"><del>$65.50</del></span>-->
          </figcaption>
        </figure>
        <div class="aa-product-hvr-content">
          <!--<a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>-->
          <!--<a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>-->
          <!--<a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>-->
          <%= link_to '<span class="fa fa-search"></span> QUICK VIEW'.html_safe, product_path(product), data: { toggle: "modal", target: "#quick-view-modal", placement: "top", title: "Quick View", toggle2: "tooltip", remote: true } %>

        </div>
        <!--<span class="aa-badge aa-sale" href="#">SALE!</span>-->
      </li>
  <% end %>
<% end %>