
<% if  params[:filterrific].nil? == false %>
<% js = escape_javascript(
  render(partial: 'product_list')
) %>
$("#filterrific_results").html("<%= js %>");
$('#filterrific_results').removeClass('blur');
//$('#filterrific_results').load(document.URL +  ' #filterrific_results_job');

<% end %>