<%#= javascript_include_tag 'nouislider.js' %>
<% content_for :head do -%>
  <%= stylesheet_link_tag 'products_page.css' %>
<% end %>

<style>
    .blur {
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -ms-filter: blur(4px);
        -o-filter: blur(4px);
        filter: blur(4px);
    }
</style>

<script>
  $(function() {
      jQuery("#list-catg").click(function(e){
    e.preventDefault(e);
    jQuery(".aa-product-catg").addClass("list");
  });
  jQuery("#grid-catg").click(function(e){
    e.preventDefault(e);
    jQuery(".aa-product-catg").removeClass("list");
  });

      jQuery(function(){
       var skipSlider = document.getElementById('skipstep');
        noUiSlider.create(skipSlider, {
            range: {
                'min': 0,
                '10%': 500,
                '20%': 1000,
                '30%': 1500,
                '40%': 2000,
                '50%': 2500,
                '60%': 3000,
                '70%': 3500,
                '80%': 4000,
                '90%': 4500,
                'max': 5000
            },
            snap: true,
            connect: true,
            start: [0, 5000]
        });
        // for value print
        var skipValues = [
          document.getElementById('skip-value-lower'),
          document.getElementById('skip-value-upper')
        ];

        skipSlider.noUiSlider.on('update', function( values, handle ) {


          skipValues[handle].innerHTML = values[handle];
        });
          skipSlider.noUiSlider.on('change', function( values, handle ) {
              if (handle == 0) {
                  console.log(values[handle]);
                  $("[name='with_min_range']").val(values[handle]).change();
//                  $('#min_range').val("values[handle]");
              }
              else {
                  $("[name='with_max_range']").val(values[handle]).change();
              }

              console.log(values[handle]);

          });

    });
  });
</script>
<!-- wpf loader Two -->
<!--<div id="wpf-loader-two">-->
  <!--<div class="wpf-loader-two-inner">-->
    <!--<span>Loading</span>-->
  <!--</div>-->
<!--</div>-->
<!-- / wpf loader Two -->
<!-- SCROLL TOP BUTTON -->
<a class="scrollToTop" href="#"><i class="fa fa-chevron-up"></i></a>
<!-- END SCROLL TOP BUTTON -->
<!--menu -->
<!-- / menu -->
<!---->
<!--product category -->
<section id="aa-product-category">
  <div class="container" style="width: 80%;">
    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-8 col-md-push-4  ">

        <!--filterrific spinner-->
        <div id="filter-spinner" >

          <%#= render_filterrific_spinner %>
          <span class="filterrific_spinner" style="display:none;">
          <div class="preloader-wrapper big active" style="margin-left: 50%;z-index: 99999 !important;margin-top: 21%;position: absolute;">
            <i class="fa fa-spinner fa-spin" style="font-size:48px;color:#970001;"></i>
          </div>
        </span>
        </div>

        <!--filterrific spinner ends -->

        <div class="aa-product-catg-content">
          <div class="aa-product-catg-head">
            <div class="aa-product-catg-head-left">
              <!--<form action="" class="aa-sort-form">-->
                <!--<label for="">Sort by</label>-->
                <!--<select name="">-->
                  <!--<option value="1" selected="Default">Default</option>-->
                  <!--<option value="2">Name</option>-->
                  <!--<option value="3">Price</option>-->
                  <!--<option value="4">Date</option>-->
                <!--</select>-->
              <!--</form>-->
              <!--<form action="" class="aa-show-form">-->
                <!--<label for="">Show</label>-->
                <!--<select name="">-->
                  <!--<option value="1" selected="12">12</option>-->
                  <!--<option value="2">24</option>-->
                  <!--<option value="3">36</option>-->
                <!--</select>-->
              <!--</form>-->
            </div>
            <div class="aa-product-catg-head-right">
              <a id="grid-catg" href="#"><span class="fa fa-th"></span></a>
              <a id="list-catg" href="#"><span class="fa fa-list"></span></a>
            </div>
          </div>
          <div class="aa-product-catg-body">

                <ul class="aa-product-catg">
                  <div id="filterrific_results">



                    <%= render(
                                partial: 'product_list',

                        ) %>


                  </div>
                </ul>
          
          </div>
        </div>
      </div>
      <div class="modal fade" id="quick-view-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

      </div>
      <!-- / quick view modal -->
      <div class="col-lg-3 col-md-3 col-sm-4 col-md-pull-9" style="background-color: #fff;">
        <aside class="aa-sidebar">

          <%= form_for_filterrific @filterrific do |f| %>
              <%= f.hidden_field :source , :value => 'product' %>

          <!-- single sidebar -->
          <div class="aa-sidebar-widget">
            <h3>Category</h3>
            <% ProductType.all.each_with_index do |product, i| %>
                <ul class="aa-catg-nav">
                  <% unless product.parent_id.blank? %>
                  <% if product.active? %>
                      <div class="checkbox">
                        <li>

                        <label>
                          <input type="checkbox" name="with_product_type[]" id="with_product_type" value="<%= product.id %>" <%= 'checked' if params[:product_type_id].present? && params[:product_type_id].to_i == product.id %>>
                           <%= product.name.capitalize %>
                        </label>
                        </li>
                      </div>
                      <%#= link_to product.name.capitalize, products_path(:product_type_id => product) %>
                  <% end %>
                  <% end %>
                </ul>
            <% end %>
          </div>
          <!-- single sidebar -->
          <div class="aa-sidebar-widget">
            <h3>Tags</h3>
            <div class="tag-cloud">
              <% product_keyword_array = [] %>
              <% Product.all.active.each do |product| %>

                  <% product.product_keywords.map do |keywords| %>

                      <% unless product_keyword_array.include? keywords %>
                          <% product_keyword_array.push(keywords) %>
                          <div class="checkbox">
                            <label>
                              <%= check_box_tag("with_tag[]", keywords, false) %> <%= keywords.capitalize %>
                            </label>
                          </div>
                      <% end %>
                  <% end %>

              <% end %>
            </div>
          </div>
          <!-- single sidebar -->
          <div class="aa-sidebar-widget">
            <h3>Shop By Price</h3>
            <!-- price range -->
            <div class="aa-sidebar-price-range">

                <div id="skipstep" class="noUi-target noUi-ltr noUi-horizontal noUi-background">
                </div>

               Rs.<span id="skip-value-lower" class="example-val">Rs. 0.00</span>
                  <input type="hidden" name="with_min_range" id="min_range" value="0.00">
                Rs.<span id="skip-value-upper" class="example-val">Rs. 5000.00</span>
                   <input type="hidden" name="with_max_range" id="max_range" value="5000.00">


            </div>

          </div>
              </br>
              <hr>
              <%= link_to(
                          'Reset filters',
                          reset_filterrific_url, :class => 'aa-browse-btn'
                  ) %>


          <!-- single sidebar -->
          <!--<div class="aa-sidebar-widget">-->
            <!--<h3>Shop By Color</h3>-->
            <!--&lt;!&ndash;<div class="aa-color-tag">&ndash;&gt;-->
            <!--&lt;!&ndash;<a class="aa-color-green" href="#"></a>&ndash;&gt;-->
            <!--&lt;!&ndash;<a class="aa-color-yellow" href="#"></a>&ndash;&gt;-->
            <!--&lt;!&ndash;<a class="aa-color-pink" href="#"></a>&ndash;&gt;-->
            <!--&lt;!&ndash;<a class="aa-color-purple" href="#"></a>&ndash;&gt;-->
            <!--&lt;!&ndash;<a class="aa-color-blue" href="#"></a>&ndash;&gt;-->
            <!--&lt;!&ndash;<a class="aa-color-orange" href="#"></a>&ndash;&gt;-->
            <!--&lt;!&ndash;<a class="aa-color-gray" href="#"></a>&ndash;&gt;-->
            <!--&lt;!&ndash;<a class="aa-color-black" href="#"></a>&ndash;&gt;-->
            <!--&lt;!&ndash;<a class="aa-color-white" href="#"></a>&ndash;&gt;-->
            <!--&lt;!&ndash;<a class="aa-color-cyan" href="#"></a>&ndash;&gt;-->
            <!--&lt;!&ndash;<a class="aa-color-olive" href="#"></a>&ndash;&gt;-->
            <!--&lt;!&ndash;<a class="aa-color-orchid" href="#"></a>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
          <!--</div>-->
          <!-- single sidebar -->
          <!--<div class="aa-sidebar-widget">-->
            <!--<h3>Recently Views</h3>-->
            <!--<div class="aa-recently-views">-->
              <!--&lt;!&ndash;<ul>&ndash;&gt;-->
              <!--&lt;!&ndash;<li>&ndash;&gt;-->
              <!--&lt;!&ndash;<a href="#" class="aa-cartbox-img"><img alt="img" src="img/woman-small-2.jpg"></a>&ndash;&gt;-->
              <!--&lt;!&ndash;<div class="aa-cartbox-info">&ndash;&gt;-->
              <!--&lt;!&ndash;<h4><a href="#">Product Name</a></h4>&ndash;&gt;-->
              <!--&lt;!&ndash;<p>1 x $250</p>&ndash;&gt;-->
              <!--&lt;!&ndash;</div>&ndash;&gt;-->
              <!--&lt;!&ndash;</li>&ndash;&gt;-->
              <!--&lt;!&ndash;</ul>&ndash;&gt;-->
            <!--</div>-->
          <!--</div>-->
          <!-- single sidebar -->
          <!--<div class="aa-sidebar-widget">-->
            <!--<h3>Top Rated Products</h3>-->
            <!--<div class="aa-recently-views">-->
              <!--&lt;!&ndash;<ul>&ndash;&gt;-->
              <!--&lt;!&ndash;<li>&ndash;&gt;-->
              <!--&lt;!&ndash;<a href="#" class="aa-cartbox-img"><img alt="img" src="img/woman-small-2.jpg"></a>&ndash;&gt;-->
              <!--&lt;!&ndash;<div class="aa-cartbox-info">&ndash;&gt;-->
              <!--&lt;!&ndash;<h4><a href="#">Product Name</a></h4>&ndash;&gt;-->
              <!--&lt;!&ndash;<p>1 x $250</p>&ndash;&gt;-->
              <!--&lt;!&ndash;</div>&ndash;&gt;-->
              <!--&lt;!&ndash;</li>&ndash;&gt;-->
              <!--&lt;!&ndash;</ul>&ndash;&gt;-->
            <!--</div>-->
          <!--</div>-->
          <% end %>
        </aside>
      </div>
    </div>
  </div>
</section>
<!-- / product category -->




