<% content_for :head do -%>
    <%= stylesheet_link_tag 'product_page.css' %>
    <%= stylesheet_link_tag 'pikachoose_product.css' %>
<% end %>
<%= javascript_include_tag 'jquery.simpleLens.js' %>
<%= javascript_include_tag 'jquery.simpleGallery.js' %>
<%= javascript_include_tag 'custom.js' %>
<section id="aa-catg-head-banner">
  <% product_type = @product.product_type %>
  <% if product_type.parent_id == 1 || product_type.id == 1  %>

      <%= image_tag("tshirt-show-cover.jpg") %>
  <% end %>
  <div class="aa-catg-head-banner-area">
    <div class="container">
      <div class="aa-catg-head-banner-content">
        <h2>Product</h2>

        <!--<ol class="breadcrumb">-->
          <!--<li><a href="index.html">Home</a></li>-->
          <!--<li><a href="#">Product</a></li>-->
          <!--<li class="active">T-shirt</li>-->
        <!--</ol>-->
      </div>
    </div>
  </div>
</section>

<section id="aa-product-details">
  <div class="container">
    <div class="row">
      <% if @product.active_variants.empty? %>
          <div id='no-variant-available' class=' four large-4 last'>
            Sorry this product is not currently available.
          </div>
      <% else %>
      <div class="col-md-12">
        <div class="aa-product-details-area">
          <div class="aa-product-details-content">
            <div class="row">
              <!-- Modal view slider -->
              <div class="col-md-5 col-sm-5 col-xs-12">
                <div class="aa-product-view-slider">
                  <div id="demo-1" class="simpleLens-gallery-container">
                    <div class="simpleLens-container">
                      <div class="simpleLens-big-image-container"><a class="simpleLens-lens-image"
                                                                     data-lens-image="<%= image_path(@product.featured_image(:large)) %>">
                        <%= image_tag(@product.featured_image(:large), :class =>'simpleLens-big-image') %>
                      </a></div>
                    </div>
                    <div class="simpleLens-thumbnails-container">
                    <% if @product.images.size == 1 %>

                          <% @product.images.each do |image|%>

                                <a><%= image_tag(image.photo.url(:large)) %></a>

                          <% end %>

                    <% elsif @product.images.size == 0 %>

                            <a><%= image_tag(@product.featured_image(:large), :style => 'width: 84%') %></a>

                    <% else %>

                          <% @product.images.each do |image|%>
                              <a href="#" class="simpleLens-thumbnail-wrapper"
                                 data-lens-image="<%= image.photo.url(:large) %>"
                                 data-big-image="<%= image.photo.url(:large) %>">
                                <%= image_tag(image.photo.url(:small)) %>
                              </a>

                          <% end %>

                    <% end %>
                    </div>
                    <!--<div class="simpleLens-thumbnails-container">-->
                      <!--<a data-big-image="img/view-slider/medium/polo-shirt-1.png" data-lens-image="img/view-slider/large/polo-shirt-1.png" class="simpleLens-thumbnail-wrapper" href="#">-->
                        <!--<img src="img/view-slider/thumbnail/polo-shirt-1.png">-->
                      <!--</a>-->
                      <!--<a data-big-image="img/view-slider/medium/polo-shirt-3.png" data-lens-image="img/view-slider/large/polo-shirt-3.png" class="simpleLens-thumbnail-wrapper" href="#">-->
                        <!--<img src="img/view-slider/thumbnail/polo-shirt-3.png">-->
                      <!--</a>-->
                      <!--<a data-big-image="img/view-slider/medium/polo-shirt-4.png" data-lens-image="img/view-slider/large/polo-shirt-4.png" class="simpleLens-thumbnail-wrapper" href="#">-->
                        <!--<img src="img/view-slider/thumbnail/polo-shirt-4.png">-->
                      <!--</a>-->
                    <!--</div>-->
                  </div>
                </div>
              </div>
              <!-- Modal view content -->
              <div class="col-md-7 col-sm-7 col-xs-12">
                <div class="aa-product-view-content">
                  <h3><%= @product.name %></h3>
                  <div class="aa-price-block">
                    <span class="aa-product-view-price"><% if @product.active_variants.count > 0 %>
                     <%= number_to_currency(@product.active_variants.first.price, :locale => :in) %>
                  <% end %></span>
                    <p class="aa-product-avilability">Avilability: <span>
                    <% if @product.active_variants.empty? %>
                      Out Of Stock
                    <% else %>
                      In stock
                    <% end %>
                  </span></p>
                  </div>
                  <p><%= raw @product.description %></p>
                  <h4>Size Available</h4>
                  <div class="aa-prod-view-size">
                  <% @product.active_variants.each do |variant| %>
                    <a href="#"><%= variant.size %></a>
                  <% end %>
                  </div>
                  <!--<h4>Color</h4>-->
                  <!--<div class="aa-color-tag">-->
                    <!--<a href="#" class="aa-color-green"></a>-->
                    <!--<a href="#" class="aa-color-yellow"></a>-->
                    <!--<a href="#" class="aa-color-pink"></a>-->
                    <!--<a href="#" class="aa-color-black"></a>-->
                    <!--<a href="#" class="aa-color-white"></a>-->
                  <!--</div>-->

                    <%= form_for  @cart_item,
                                  :url  => shopping_cart_items_path(@cart_item),
                                  :html => { :id => 'new_cart_item', :class => 'custom' } do |f| %>
                        <%= f.hidden_field :variant_id %>

                        <div class="aa-prod-quantity">
                          <label>Select Quantity:</label>
                          <%= f.select :quantity, [1,2,3,4, 5, 6], { :include_blank => false }, :selected => 1 %>
                        </div>
                        <div class="aa-prod-quantity">
                          <label>Select Size:</label>
                          <select name="cart_item[size]">
                            <% @product.active_variants.each do |variant| %>
                                <option><%= variant.size %></option>
                            <% end %>
                          </select>
                        </div>
                        <div class="aa-prod-view-bottom">
                          <% unless @product.active_variants.empty? %>
                              <%= button_tag  :id => 'submit_add_to_cart', :class => 'aa-add-to-cart-btn' do %>

                                  <span class="fa fa-shopping-cart"></span>Add To Cart
                              <% end %>
                          <% end %>
                        </div>
                    <% end %>
                    <!--<p class="aa-prod-category">-->
                      <!--Category: <a href="#">Polo T-Shirt</a>-->
                    <!--</p>-->

                  <!--<div class="aa-prod-view-bottom">-->
                    <!--<a class="aa-add-to-cart-btn" href="#">Add To Cart</a>-->
                    <!--<a class="aa-add-to-cart-btn" href="#">Wishlist</a>-->
                    <!--<a class="aa-add-to-cart-btn" href="#">Compare</a>-->
                  <!--</div>-->
                </div>
              </div>
            </div>
          </div>
          <div class="aa-product-details-bottom">
            <ul class="nav nav-tabs" id="myTab2">
              <li><a href="#description" data-toggle="tab">Description</a></li>
              <li><a href="#review" data-toggle="tab">Reviews</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <div class="tab-pane fade in active" id="description">
                <%= raw @product.description %>
              </div>
              <div class="tab-pane fade " id="review">
                <!--<div class="aa-product-review-area">-->
                  <!--<h4>2 Reviews for T-Shirt</h4>-->
                  <!--<ul class="aa-review-nav">-->
                    <!--<li>-->
                      <!--<div class="media">-->
                        <!--<div class="media-left">-->
                          <!--<a href="#">-->
                            <!--<img class="media-object" src="img/testimonial-img-3.jpg" alt="girl image">-->
                          <!--</a>-->
                        <!--</div>-->
                        <!--<div class="media-body">-->
                          <!--<h4 class="media-heading"><strong>Marla Jobs</strong> - <span>March 26, 2016</span></h4>-->
                          <!--<div class="aa-product-rating">-->
                            <!--<span class="fa fa-star"></span>-->
                            <!--<span class="fa fa-star"></span>-->
                            <!--<span class="fa fa-star"></span>-->
                            <!--<span class="fa fa-star"></span>-->
                            <!--<span class="fa fa-star-o"></span>-->
                          <!--</div>-->
                          <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>-->
                        <!--</div>-->
                      <!--</div>-->
                    <!--</li>-->
                    <!--<li>-->
                      <!--<div class="media">-->
                        <!--<div class="media-left">-->
                          <!--<a href="#">-->
                            <!--<img class="media-object" src="img/testimonial-img-3.jpg" alt="girl image">-->
                          <!--</a>-->
                        <!--</div>-->
                        <!--<div class="media-body">-->
                          <!--<h4 class="media-heading"><strong>Marla Jobs</strong> - <span>March 26, 2016</span></h4>-->
                          <!--<div class="aa-product-rating">-->
                            <!--<span class="fa fa-star"></span>-->
                            <!--<span class="fa fa-star"></span>-->
                            <!--<span class="fa fa-star"></span>-->
                            <!--<span class="fa fa-star"></span>-->
                            <!--<span class="fa fa-star-o"></span>-->
                          <!--</div>-->
                          <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>-->
                        <!--</div>-->
                      <!--</div>-->
                    <!--</li>-->
                  <!--</ul>-->
                  <!--<h4>Add a review</h4>-->
                  <!--<div class="aa-your-rating">-->
                    <!--<p>Your Rating</p>-->
                    <!--<a href="#"><span class="fa fa-star-o"></span></a>-->
                    <!--<a href="#"><span class="fa fa-star-o"></span></a>-->
                    <!--<a href="#"><span class="fa fa-star-o"></span></a>-->
                    <!--<a href="#"><span class="fa fa-star-o"></span></a>-->
                    <!--<a href="#"><span class="fa fa-star-o"></span></a>-->
                  <!--</div>-->
                  <!--&lt;!&ndash; review form &ndash;&gt;-->
                  <!--<form action="" class="aa-review-form">-->
                    <!--<div class="form-group">-->
                      <!--<label for="message">Your Review</label>-->
                      <!--<textarea class="form-control" rows="3" id="message"></textarea>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                      <!--<label for="name">Name</label>-->
                      <!--<input type="text" class="form-control" id="name" placeholder="Name">-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                      <!--<label for="email">Email</label>-->
                      <!--<input type="email" class="form-control" id="email" placeholder="example@gmail.com">-->
                    <!--</div>-->

                    <!--<button type="submit" class="btn btn-default aa-review-submit">Submit</button>-->
                  <!--</form>-->
                <!--</div>-->
              </div>
            </div>
          </div>
          <!-- Related product -->
          <!--<div class="aa-product-related-item">-->
            <!--<h3>Related Products</h3>-->
            <!--<ul class="aa-product-catg aa-related-item-slider">-->
              <!--&lt;!&ndash; start single product item &ndash;&gt;-->
              <!--<li>-->
                <!--<figure>-->
                  <!--<a class="aa-product-img" href="#"><img src="img/man/polo-shirt-2.png" alt="polo shirt img"></a>-->
                  <!--<a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>-->
                  <!--<figcaption>-->
                    <!--<h4 class="aa-product-title"><a href="#">Polo T-Shirt</a></h4>-->
                    <!--<span class="aa-product-price">$45.50</span><span class="aa-product-price"><del>$65.50</del></span>-->
                  <!--</figcaption>-->
                <!--</figure>-->
                <!--<div class="aa-product-hvr-content">-->
                  <!--<a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>-->
                  <!--<a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>-->
                  <!--<a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>-->
                <!--</div>-->
                <!--&lt;!&ndash; product badge &ndash;&gt;-->
                <!--<span class="aa-badge aa-sale" href="#">SALE!</span>-->
              <!--</li>-->
              <!--&lt;!&ndash; start single product item &ndash;&gt;-->
              <!--<li>-->
                <!--<figure>-->
                  <!--<a class="aa-product-img" href="#"><img src="img/women/girl-2.png" alt="polo shirt img"></a>-->
                  <!--<a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>-->
                  <!--<figcaption>-->
                    <!--<h4 class="aa-product-title"><a href="#">Lorem ipsum doller</a></h4>-->
                    <!--<span class="aa-product-price">$45.50</span>-->
                  <!--</figcaption>-->
                <!--</figure>-->
                <!--<div class="aa-product-hvr-content">-->
                  <!--<a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>-->
                  <!--<a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>-->
                  <!--<a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>-->
                <!--</div>-->
                <!--&lt;!&ndash; product badge &ndash;&gt;-->
                <!--<span class="aa-badge aa-sold-out" href="#">Sold Out!</span>-->
              <!--</li>-->
              <!--&lt;!&ndash; start single product item &ndash;&gt;-->
              <!--<li>-->
                <!--<figure>-->
                  <!--<a class="aa-product-img" href="#"><img src="img/man/t-shirt-1.png" alt="polo shirt img"></a>-->
                  <!--<a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>-->
                <!--</figure>-->
                <!--<figcaption>-->
                  <!--<h4 class="aa-product-title"><a href="#">T-Shirt</a></h4>-->
                  <!--<span class="aa-product-price">$45.50</span>-->
                <!--</figcaption>-->
                <!--<div class="aa-product-hvr-content">-->
                  <!--<a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>-->
                  <!--<a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>-->
                  <!--<a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>-->
                <!--</div>-->
                <!--&lt;!&ndash; product badge &ndash;&gt;-->
                <!--<span class="aa-badge aa-hot" href="#">HOT!</span>-->
              <!--</li>-->
              <!--&lt;!&ndash; start single product item &ndash;&gt;-->
              <!--<li>-->
                <!--<figure>-->
                  <!--<a class="aa-product-img" href="#"><img src="img/women/girl-3.png" alt="polo shirt img"></a>-->
                  <!--<a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>-->
                  <!--<figcaption>-->
                    <!--<h4 class="aa-product-title"><a href="#">Lorem ipsum doller</a></h4>-->
                    <!--<span class="aa-product-price">$45.50</span><span class="aa-product-price"><del>$65.50</del></span>-->
                  <!--</figcaption>-->
                <!--</figure>-->
                <!--<div class="aa-product-hvr-content">-->
                  <!--<a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>-->
                  <!--<a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>-->
                  <!--<a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>-->
                <!--</div>-->
              <!--</li>-->
              <!--&lt;!&ndash; start single product item &ndash;&gt;-->
              <!--<li>-->
                <!--<figure>-->
                  <!--<a class="aa-product-img" href="#"><img src="img/man/polo-shirt-1.png" alt="polo shirt img"></a>-->
                  <!--<a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>-->
                  <!--<figcaption>-->
                    <!--<h4 class="aa-product-title"><a href="#">Polo T-Shirt</a></h4>-->
                    <!--<span class="aa-product-price">$45.50</span><span class="aa-product-price"><del>$65.50</del></span>-->
                  <!--</figcaption>-->
                <!--</figure>-->
                <!--<div class="aa-product-hvr-content">-->
                  <!--<a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>-->
                  <!--<a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>-->
                  <!--<a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>-->
                <!--</div>-->
              <!--</li>-->
              <!--&lt;!&ndash; start single product item &ndash;&gt;-->
              <!--<li>-->
                <!--<figure>-->
                  <!--<a class="aa-product-img" href="#"><img src="img/women/girl-4.png" alt="polo shirt img"></a>-->
                  <!--<a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>-->
                  <!--<figcaption>-->
                    <!--<h4 class="aa-product-title"><a href="#">Lorem ipsum doller</a></h4>-->
                    <!--<span class="aa-product-price">$45.50</span><span class="aa-product-price"><del>$65.50</del></span>-->
                  <!--</figcaption>-->
                <!--</figure>-->
                <!--<div class="aa-product-hvr-content">-->
                  <!--<a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>-->
                  <!--<a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>-->
                  <!--<a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>-->
                <!--</div>-->
                <!--&lt;!&ndash; product badge &ndash;&gt;-->
                <!--<span class="aa-badge aa-sold-out" href="#">Sold Out!</span>-->
              <!--</li>-->
              <!--&lt;!&ndash; start single product item &ndash;&gt;-->
              <!--<li>-->
                <!--<figure>-->
                  <!--<a class="aa-product-img" href="#"><img src="img/man/polo-shirt-4.png" alt="polo shirt img"></a>-->
                  <!--<a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>-->
                  <!--<figcaption>-->
                    <!--<h4 class="aa-product-title"><a href="#">Polo T-Shirt</a></h4>-->
                    <!--<span class="aa-product-price">$45.50</span><span class="aa-product-price"><del>$65.50</del></span>-->
                  <!--</figcaption>-->
                <!--</figure>-->
                <!--<div class="aa-product-hvr-content">-->
                  <!--<a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>-->
                  <!--<a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>-->
                  <!--<a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>-->
                <!--</div>-->
                <!--&lt;!&ndash; product badge &ndash;&gt;-->
                <!--<span class="aa-badge aa-hot" href="#">HOT!</span>-->
              <!--</li>-->
              <!--&lt;!&ndash; start single product item &ndash;&gt;-->
              <!--<li>-->
                <!--<figure>-->
                  <!--<a class="aa-product-img" href="#"><img src="img/women/girl-1.png" alt="polo shirt img"></a>-->
                  <!--<a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>-->
                  <!--<figcaption>-->
                    <!--<h4 class="aa-product-title"><a href="#">This is Title</a></h4>-->
                    <!--<span class="aa-product-price">$45.50</span><span class="aa-product-price"><del>$65.50</del></span>-->
                  <!--</figcaption>-->
                <!--</figure>-->
                <!--<div class="aa-product-hvr-content">-->
                  <!--<a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>-->
                  <!--<a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>-->
                  <!--<a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>-->
                <!--</div>-->
                <!--&lt;!&ndash; product badge &ndash;&gt;-->
                <!--<span class="aa-badge aa-sale" href="#">SALE!</span>-->
              <!--</li>-->
            <!--</ul>-->
            <!--&lt;!&ndash; quick view modal &ndash;&gt;-->
            <!--<div class="modal fade" id="quick-view-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">-->
              <!--<div class="modal-dialog">-->
                <!--<div class="modal-content">-->
                  <!--<div class="modal-body">-->
                    <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
                    <!--<div class="row">-->
                      <!--&lt;!&ndash; Modal view slider &ndash;&gt;-->
                      <!--<div class="col-md-6 col-sm-6 col-xs-12">-->
                        <!--<div class="aa-product-view-slider">-->
                          <!--<div class="simpleLens-gallery-container" id="demo-1">-->
                            <!--<div class="simpleLens-container">-->
                              <!--<div class="simpleLens-big-image-container">-->
                                <!--<a class="simpleLens-lens-image" data-lens-image="img/view-slider/large/polo-shirt-1.png">-->
                                  <!--<img src="img/view-slider/medium/polo-shirt-1.png" class="simpleLens-big-image">-->
                                <!--</a>-->
                              <!--</div>-->
                            <!--</div>-->
                            <!--<div class="simpleLens-thumbnails-container">-->
                              <!--<a href="#" class="simpleLens-thumbnail-wrapper"-->
                                 <!--data-lens-image="img/view-slider/large/polo-shirt-1.png"-->
                                 <!--data-big-image="img/view-slider/medium/polo-shirt-1.png">-->
                                <!--<img src="img/view-slider/thumbnail/polo-shirt-1.png">-->
                              <!--</a>-->
                              <!--<a href="#" class="simpleLens-thumbnail-wrapper"-->
                                 <!--data-lens-image="img/view-slider/large/polo-shirt-3.png"-->
                                 <!--data-big-image="img/view-slider/medium/polo-shirt-3.png">-->
                                <!--<img src="img/view-slider/thumbnail/polo-shirt-3.png">-->
                              <!--</a>-->

                              <!--<a href="#" class="simpleLens-thumbnail-wrapper"-->
                                 <!--data-lens-image="img/view-slider/large/polo-shirt-4.png"-->
                                 <!--data-big-image="img/view-slider/medium/polo-shirt-4.png">-->
                                <!--<img src="img/view-slider/thumbnail/polo-shirt-4.png">-->
                              <!--</a>-->
                            <!--</div>-->
                          <!--</div>-->
                        <!--</div>-->
                      <!--</div>-->
                      <!--&lt;!&ndash; Modal view content &ndash;&gt;-->
                      <!--<div class="col-md-6 col-sm-6 col-xs-12">-->
                        <!--<div class="aa-product-view-content">-->
                          <!--<h3>T-Shirt</h3>-->
                          <!--<div class="aa-price-block">-->
                            <!--<span class="aa-product-view-price">$34.99</span>-->
                            <!--<p class="aa-product-avilability">Avilability: <span>In stock</span></p>-->
                          <!--</div>-->
                          <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis animi, veritatis quae repudiandae quod nulla porro quidem, itaque quis quaerat!</p>-->
                          <!--<h4>Size</h4>-->
                          <!--<div class="aa-prod-view-size">-->
                            <!--<a href="#">S</a>-->
                            <!--<a href="#">M</a>-->
                            <!--<a href="#">L</a>-->
                            <!--<a href="#">XL</a>-->
                          <!--</div>-->
                          <!--<div class="aa-prod-quantity">-->
                            <!--<form action="">-->
                              <!--<select name="" id="">-->
                                <!--<option value="0" selected="1">1</option>-->
                                <!--<option value="1">2</option>-->
                                <!--<option value="2">3</option>-->
                                <!--<option value="3">4</option>-->
                                <!--<option value="4">5</option>-->
                                <!--<option value="5">6</option>-->
                              <!--</select>-->
                            <!--</form>-->
                            <!--<p class="aa-prod-category">-->
                              <!--Category: <a href="#">Polo T-Shirt</a>-->
                            <!--</p>-->
                          <!--</div>-->
                          <!--<div class="aa-prod-view-bottom">-->
                            <!--<a href="#" class="aa-add-to-cart-btn"><span class="fa fa-shopping-cart"></span>Add To Cart</a>-->
                            <!--<a href="#" class="aa-add-to-cart-btn">View Details</a>-->
                          <!--</div>-->
                        <!--</div>-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>&lt;!&ndash; /.modal-content &ndash;&gt;-->
              <!--</div>&lt;!&ndash; /.modal-dialog &ndash;&gt;-->
            <!--</div>-->
            <!--&lt;!&ndash; / quick view modal &ndash;&gt;-->
          <!--</div>-->
        </div>
      </div>
      <% end %>
    </div>
  </div>
</section>


<% content_for :below_body do -%>
    <%= javascript_include_tag 'cart' %>
    <%= javascript_include_tag 'jquery.jcarousel.js' %>
    <%= javascript_include_tag 'jquery.pikachoose.full.js' %>

    <% if @product.images.size > 1 %>
        <script>
            $(document).ready(function (){
                $("#pikame").PikaChoose({autoPlay:true, carousel:false, carouselVertical:false});
                $('#pikame').data('pikachoose').Pause();
            });
        </script>
    <% end %>
    <%= javascript_include_tag 'product_page.js' %>
<% end %>
