
<% content_for :head do -%>
    <%# if @registration %>
    <%#= stylesheet_link_tag 'signup.css' %>
    <%# else %>
    <%#= stylesheet_link_tag 'login.css' %>
    <%# end %>
    <%= stylesheet_link_tag 'cupertino/jquery-ui-1.8.12.custom' %>
<% end %>

<% content_for :bottom do -%>
    <%= javascript_include_tag 'jquery.datePicker-2.1.2', 'datePickerInitialize' %>
<% end %>
<%# if @user_session.errors.any? %>
<!--<div id="error_explanation">-->
<!--<h2><%#= pluralize(@user_session.errors.count, "error") %> prohibited you from logging in:</h2>-->
<!---->
<!--<ul>-->
<!--<%# @user_session.errors.full_messages.each do |msg| %>-->
<!--<li><%#= msg %></li>-->
<!--<%# end %>-->
<!--</ul>-->
<!--</div>-->
<%# end %>

<% if @user.errors.any? %>
    <div id="error_explanation" class='error'>

      <ul>
        <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<section id="aa-myaccount">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="aa-myaccount-area">
          <div class="row">
            <div class="col-md-6">
              <div class="aa-myaccount-login">
                <h4>Login</h4>
                <%= form_for  @user_session, :as => :user_session,
                              :url => user_sessions_path(@user_session),
                              :html => {:class => 'aa-login-form'} do |form| %>

                    <label for="">Email address<span>*</span></label>

                    <%= form.text_field :email, :autocomplete => 'off', :autocapitalize => 'off', :placeholder => 'Please enter Email' %>
                    <label for="">Password<span>*</span></label>
                    <%= form.password_field :password, :autocomplete => 'off', :autocapitalize => 'off', :placeholder => 'Password' %>

                    <button type="submit" class="aa-browse-btn">Login</button></br>
                    <!--<label class="rememberme" for="rememberme"><input type="checkbox" id="rememberme"> Remember me </label>-->
                    <p class="aa-lost-password"><%= link_to 'forgot password?', new_customer_password_reset_path() %></p>
                <% end %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="aa-myaccount-register">
                <h4>Register</h4>
                <%= form_for @user, url: customer_registrations_path(@user),:html => {:class => 'aa-login-form'}  do |form| %>
                    <label for="">First Name<span>*</span></label>
                    <%= form.text_field :first_name %><br/>
                    <label for="">Last Name<span>*</span></label>
                    <%= form.text_field :last_name %>
                    <label for="">Email<span>*</span></label>
                    <%= form.text_field :email, :autocapitalize => 'off' %>
                    <label for="">Password<span>*</span></label>
                    <%= form.password_field :password, :autocomplete => 'off', :autocapitalize => 'off'  %>
                    <label for="">Confirm Password<span>*</span></label>
                    <%= form.password_field :password_confirmation, :autocomplete => 'off', :autocapitalize => 'off'  %>
                    <%= form.submit "Register" ,:class => "aa-browse-btn" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
