<% if @shopping_address.errors.any? %>
    <div id="error_explanation">
      <h2 ><%= pluralize(@shopping_address.errors.count, "error") %> prohibited this shipping address from being saved:</h2>

      <ul>
        <% @shopping_address.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>
<section id="checkout">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="checkout-area">
          <form action="">
            <div class="row">
              <div class="col-md-8">
                <div class="checkout-left">
                  <div class="panel-group" id="accordion">


                    <!-- Billing Details -->
                    <div class="panel panel-default aa-checkout-billaddress">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                            Billing Details
                          </a>
                        </h4>
                      </div>

                        <div class="panel-body">
                          <div class="row">
                            <div class="col-md-6">
                              <div class="aa-checkout-single-bill">
                                <%= f.text_field :first_name, :placeholder => 'First Name' %>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="aa-checkout-single-bill">
                                <%= f.text_field :last_name, :placeholder => 'Last Name' %>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              <div class="aa-checkout-single-bill">
                                <%= f.text_field :address1, :placeholder => 'Address1'  %>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="aa-checkout-single-bill">
                                <%= f.text_field :address2, :placeholder => 'Address2'  %>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="aa-checkout-single-bill">
                                <%= f.text_field :city, :placeholder => 'City' %>
                              </div>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-md-12">
                              <div class="aa-checkout-single-bill">
                              <% if Settings.require_state_in_address %>

                                    <%= f.label    :state_id, "State/Province" %>
                                    <%= f.select   :state_id, @states,
                                                   {:include_blank => true, :prompt => "State"} %>
                              <% elsif countries.size == 1 %>

                                    <%= f.label :country_id, "Country" %>
                                    <%= countries.first.name %>
                                    <%= f.hidden_field   :country_id %>

                              <% else %>
                                  <div class="field column">
                                    <%= f.label    :country_id, "Country" %>
                                    <%= f.select   :country_id, select_countries,
                                                   :include_blank => true %>
                                  </div>

                              <% end %>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="aa-checkout-single-bill">
                                <%= f.text_field :zip_code, :placeholder => 'Pin Code' %>
                              </div>
                            </div>


                          </div>
                          <div class="row">
                            <div class="col-md-12">

                          <%= f.check_box :default, :class => 'columns' %>
                            Make this my default shipping address

                            </div>
                          </div>

                          <%= f.submit 'Submit', :class => 'aa-cart-view-btn' %>
                        </div>

                    </div>
                    <!-- Shipping Address -->

                  </div>
                </div>
              </div>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<div class='clearfix'></div>
