

<label for="">First Name<span>*</span></label>
<%= f.text_field :first_name, :placeholder => "First Name" %><br/>

<label for="">Last Name<span>*</span></label>
<%= f.text_field :last_name, :placeholder => "Last Name"  %><br/>

<label for="">Email<span>*</span></label>
<%= f.text_field :email, :placeholder => "Email"  %><br/>

<label for="">Password<span>*</span></label>
<%= f.password_field :password, :placeholder => "Password"  %><br/>

<label for="">Password Confirmation<span>*</span></label>
<%= f.password_field :password_confirmation, :placeholder => "Password_confirmation"  %>

<button type="submit" class="aa-browse-btn">Update</button></br>

