<section id="aa-myaccount">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="aa-myaccount-area">
          <div class="row">
            <div class="col-md-6">
              <div class="aa-myaccount-login">
                <h4>Edit Profile</h4>
                <%= form_for current_user, :url => myaccount_overview_path, :method => 'PUT',  :html => {:class => 'aa-login-form'} do |f| %>
                    <%=  render :partial => 'form', :locals => {:f => f} %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
