
<section id="aa-myaccount">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="aa-myaccount-area">
          <h4> Profile <%= current_user.name %> </h4>
          <label>Email:</label> <%= current_user.email %>
          <%= link_to "Edit", edit_myaccount_overview_path(), :class => "aa-browse-btn" %>

        <h4> Address </h4>
        <% if current_user.shipping_address %>
            <%= render :partial => '/shared/compact_address', :locals => { :shopping_address => current_user.shipping_address } %>
            <%= link_to "Edit", edit_myaccount_address_path(current_user.shipping_address), :class => "aa-browse-btn" %>
        <% else %>
            No Address Saved.
            <%= link_to "New", new_myaccount_address_path, :class => "aa-browse-btn" %>
        <% end %>

        <h4> Store Credits </h4>
        <%= number_to_currency(current_user.store_credit.amount, :locale => :in) %>
      </div>
    </div>
    </div>
  </div>
</section>

