<!DOCTYPE html>
<html>
<head>
  <title><%= site_name %></title>
  <link rel="shortcut icon" href="/assets/favicon.ico" />
  <%= stylesheet_link_tag "application.css", :media => "all" %>
  <%= stylesheet_link_tag "normalize.css" %>
  <%= stylesheet_link_tag "admin/foundation" %>
 
  <!--[if lt IE 8]
    <%= stylesheet_link_tag "admin/ie.css" %>
  <![endif]-->
  <%= csrf_meta_tag %>

  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag "admin/app" %>
  <%= javascript_include_tag "admin/jquery.customforms" %>
  <%= javascript_include_tag "admin/jquery.placeholder.min" %>
  <%= javascript_include_tag "admin/jquery.reveal" %>
  <%= javascript_include_tag "admin/jquery.tooltips" %>
  <%= javascript_include_tag "admin/modernizr.foundation" %>

  <%= yield :head %>
</head>
<body class="bp">
  <div class="container">
    <div class="row">
      <% if notice || alert %>
        <div class="flash_messages">
          <%= raw "<div data-alert class='alert-box warning'> #{notice} <a href='' class='close'>&times;</a>"  if notice %>
          <%= raw "<div data-alert class='alert-box alert'> #{alert} <a href='' class='close'>&times;</a>"  if alert %>
        </div>
      <% end %>

      <%= render :partial => "shared/admin/header_bar" %>

      <% if content_for? :header_sub_bar %>
        <div id='header_sub_bar'>
          <%= yield :header_sub_bar %>
        </div>
      <% end %>

      <% if content_for?(:sidemenu) %>
        <div class="admin_main_content nine large-9 columns">
          <%= yield %>
        </div>
        <div class="three  large-3 columns sidebar" >
          <%= yield :sidemenu %>
        </div>
      <% else %>
        <div class='admin_main_content'>
          <%= yield %>
        </div>
      <% end %>
    </div>
    <div class="footer">

    </div>
  </div>

  <%= yield :bottom %>

  <script>
//  jQuery(window).ready(
//    function() {
//      jQuery('.flash_notice').delay(6000).slideUp( 'slow');
//      jQuery('.flash_error').delay(6000).slideUp( 'slow');
//    }
//  );
  </script>

<% if Rails.env.development? %>
  <script>
    //document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')
  </script>
<% end %>

</body>
  <%= yield :below_body %>
</html>
