<!DOCTYPE html>
<html>
<head>
  <title><%= site_name %></title>
  <link rel="shortcut icon" href="/assets/favicon.ico" />
  <%= stylesheet_link_tag "application.css", :media => "all" %>
  <%= stylesheet_link_tag 'sprite.css' %>
  <%= stylesheet_link_tag "admin/foundation" %>
  <%= stylesheet_link_tag "admin/app" %>
  <%= stylesheet_link_tag "admin/cart" %>
    <!--[if lt IE 8]
  <%#= stylesheet_link_tag 'ie.css', :media => 'screen, projection'%>
  <![endif]-->
  <%= csrf_meta_tag %>

  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag "admin/app" %>
  <%= javascript_include_tag "admin/jquery.customforms" %>
  <%= javascript_include_tag "admin/jquery.placeholder.min" %>
  <%= javascript_include_tag "admin/jquery.reveal" %>
  <%= javascript_include_tag "admin/jquery.tooltips" %>
  <%= javascript_include_tag "admin/modernizr.foundation" %>

  <%= yield :head %>
</head>
<body class="bp">
  <div class="container row">
    <% if notice || alert %>
    <div class="flash_messages">
      <%= raw "<div data-alert class='alert-box warning'> #{notice} <a href='' class='close'>&times;</a>"  if notice %>
      <%= raw "<div data-alert class='alert-box alert'> #{alert} <a href='' class='close'>&times;</a>"  if alert %>
    </div>
    <% end %>

    <%= render :partial => 'shared/admin/header_bar' %>

    <div class='admin_main_content eight large-8 columns'>
      <%= yield %>
    </div>
    <div id='cart-right-side-panel' class='four large-4 columns last float-right'>
      <%= render :partial => '/admin/shopping/right_panel_summary'%>
      <%= yield :right_side_bar %>
    </div>
  </div>

  <%= yield :bottom %>

  <script>
  jQuery(window).ready(
    function() {
      jQuery('.flash_notice').delay(6000).slideUp( 'slow');
      jQuery('.flash_error').delay(6000).slideUp( 'slow');
    }
  );
  </script>

</body>
<%= yield :below_body %>
</html>
