<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<html>
<head>
  <title>
    <%= content_for?(:title) ? "#{site_name}: #{yield(:title)}" : site_name %>
  </title>
  <link rel="shortcut icon" href="/assets/favicon.ico" />
  <link rel="shortcut icon" href="/assets/dark-red-theme.css" />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <%= stylesheet_link_tag "application.css", :media => "all" %>
  <%= stylesheet_link_tag "normalize.css" %>
  <%= stylesheet_link_tag "bootstrap.css" %>
  <%= stylesheet_link_tag "font-awesome.css" %>
  <%= stylesheet_link_tag "jquery.simpleLens.css" %>
  <%= stylesheet_link_tag "jquery.smartmenus.bootstrap.css" %>
  <%= stylesheet_link_tag "style.css" %>
  <%= stylesheet_link_tag "nouislider.css" %>
  <%= stylesheet_link_tag "sequence-theme.modern-slide-in.css" %>
  <%= stylesheet_link_tag "slick.css" %>
  <%= stylesheet_link_tag "dark-red-theme.css" %>
  <%= stylesheet_link_tag "jquery.growl" %>
  <%#= stylesheet_link_tag "foundation_and_overrides.css" %>
  <%#= stylesheet_link_tag 'site/app.css' %>
  <%= javascript_include_tag 'vendor/custom.modernizr' %>


    <!--[if lt IE 8]
  <%= stylesheet_link_tag 'ie.css', :media => 'screen, projection'%>
  <![endif]-->
  <!--[if lt IE 7]
      <%= stylesheet_link_tag 'ie6.css', :media => 'screen, projection' %>
  <![endif]-->
  <%= csrf_meta_tag %>

  <%= yield :head %>

  <%= render 'shared/metadata' %>
</head>

<body style="background-image: url(/assets/grey-background.jpg);">
<!--<body >-->

<script>
//    $.growl.error({ message: "The kitten is attacking!" });
//    $.growl.notice({ message: "The kitten is cute!" });
//    $.growl.warning({ message: "The kitten is ugly!" });
</script>
<div id='body_wrapper'>
  <%= render :partial => '/shared/main_header'%>
  <%#= render 'shared/sub_header' %>



    <div id='content_wrapper' class='<%= "myaccount" if myaccount_tab %> '>
      <%= render 'shared/sub_header' %>
      <%#  if myaccount_tab %>
        <!--<h1 style='text-align:center;'><%#= site_name %></h1>-->
        <!--<hr class="first_double_hr">-->
        <!--<hr class="second_double_hr">-->
        <%#= render :partial => '/shared/myaccount_subheader' %>
      <%# end %>
      <%= yield %>
    </div>
    <div id='prefooter_wrapper'>&nbsp;</div>
</div>
  <%= render 'shared/footer' %>
  <%= render 'shared/main_footer' %>
  <%= render 'shared/google_analytics' unless @disable_ga %>

  <%= javascript_include_tag 'application' %>
  <%= yield :bottom %>
<% flash.each do |key, value| %>
    <% if key == 'notice' %>
        <script>
            $.toaster({title: "Success", message: "<%= value %>"});


        </script>
    <% elsif key == 'error' || key == 'alert' %>
        <script>
            $.toaster({priority : 'danger', title: "Error", message: "<%= value %>"});

        </script>
    <% end %>

    <!--<div class="alert alert-<%#= key %>"><%#= value %></div>-->
<% end %>

  <script>
    $(function() {
//        Check to see if the window is top if not then display button

    jQuery(window).scroll(function(){
      if ($(this).scrollTop() > 300) {
        $('.scrollToTop').fadeIn();
      } else {
        $('.scrollToTop').fadeOut();
      }
    });

    //Click event to scroll to top

    jQuery('.scrollToTop').click(function(){
      $('html, body').animate({scrollTop : 0},800);
      return false;
    });
    })
//  jQuery(window).ready(
//    function() {
//      jQuery('.flash_notice').delay(6000).slideUp( 'slow');
//      jQuery('.flash_error').delay(6000).slideUp( 'slow');
//    }
//  );
  </script>

</body>
  <%= yield :below_body %>
</html>
