<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <title>
    <%= content_for?(:title) ? "#{site_name}: #{yield(:title)}" : site_name %>
  </title>
  <link rel="shortcut icon" href="/assets/favicon.ico" />

  <%= stylesheet_link_tag "normalize.css" %>

  <%= stylesheet_link_tag "foundation_and_overrides.css" %>
  <%= stylesheet_link_tag 'site/app.css' %>
  <%= javascript_include_tag 'vendor/custom.modernizr' %>

    <!--[if lt IE 8]
  <%= stylesheet_link_tag 'ie.css', :media => 'screen, projection'%>
  <![endif]-->
  <!--[if lt IE 7]
      <%= stylesheet_link_tag 'ie6.css', :media => 'screen, projection' %>
  <![endif]-->
  <%= csrf_meta_tag %>

  <%= yield :head %>

  <%= render 'shared/metadata' %>

</head>
<body >
<div id='body_wrapper'>

  <%= render :partial => '/shared/welcome_header'%>

  <% if notice || alert %>
    <div class="row">
      <% if notice || alert %>
        <div class="flash_messages">
          <%= raw "<div data-alert class='alert-box warning'> #{notice} <a href='' class='close'>&times;</a></div>"  if notice %>
          <%= raw "<div data-alert class='alert-box alert'>#{alert} <a href='' class='close'>&times;</a></div>"     if alert %>
        </div>
      <% end %>
    </div>
  <% end %>

    <div id='content_wrapper' class='row'>
      <%= yield %>
    </div>
    <div id='prefooter_wrapper'>&nbsp;</div>
</div>
  <%= render 'shared/main_footer' %>
  <%= render 'shared/google_analytics' unless @disable_ga %>
  <%= yield :bottom %>

  <%= javascript_include_tag 'application' %>
  <script>
  jQuery(window).ready(
    function() {
      jQuery('.flash_notice').delay(6000).slideUp( 'slow');
      jQuery('.flash_error').delay(6000).slideUp( 'slow');
    }
  );
  </script>

</body>
  <%= yield :below_body %>
</html>
