<section id="aa-myaccount">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="aa-myaccount-area">
          <div class="row">
            <div class="col-md-6">
              <div class="aa-myaccount-login">
                <h4><%= current_user.name %> Store Credits </h4>

                <p id='users-credits' class=''>
                  You currently have <%= number_to_currency(@store_credit.amount, :locale => :in) %> worth of credits.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
